input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #333;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 2rem 2rem #fff;
}

select::-ms-expand {
  display: none;
}

input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check {
  display: none;
}

input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear {
  display: none;
}

select,
input[type=radio],
input[type=checkbox],
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=reset],
input[type=button],
input[type=submit],
textarea {
  appearance: none;
  border-radius: 0;
  font-family: "Noto Serif JP", serif;
  outline: none;
}

input[type=reset],
input[type=button],
input[type=submit] {
  font-family: "Noto Serif JP", serif;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

.contact-wrap {
  padding: 8rem 0;
}
.contact-wrap .inner {
  max-width: 112rem;
}
.contact-wrap__text {
  font-size: 1.6rem;
  line-height: 200%;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .contact-wrap__text {
    line-height: 180%;
  }
}
.contact-wrap__tel {
  background: url(../img/top/Contact-bg.jpg) no-repeat center center/cover;
  padding: 2rem 4.45rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .contact-wrap__tel {
    width: calc(100% + 4rem);
    margin: 0 -2rem 4rem;
    padding: 4rem 2rem;
  }
}
@media (max-width: 767px) {
  .contact-wrap__tel .contact__content {
    margin-top: 2.4rem;
    gap: 1.6rem;
  }
}
.contact-wrap__tel .contact__text {
  font-size: 2.4rem;
  line-height: 150%;
  padding: 0 3.3rem 0.8rem;
  border-bottom: 0.1rem solid #009FE6;
  display: inline-block;
}
@media (max-width: 767px) {
  .contact-wrap__tel .contact__text {
    font-size: 1.5rem;
    padding: 0 0 0.8rem;
  }
}
@media (max-width: 767px) {
  .contact-wrap__tel .contact__phone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    max-width: 27rem;
    margin: 0 auto;
  }
}
.contact-wrap__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .contact-wrap__info {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
.contact-wrap__info--item {
  background: #F9FDFF;
  padding: 2rem 1.6rem;
  font-size: 1.6rem;
  line-height: 170%;
  letter-spacing: 0.146rem;
  color: #009FE6;
}
@media (max-width: 767px) {
  .contact-wrap__info--item {
    min-height: 32.9rem;
  }
}
.contact-wrap__info--item h3 {
  background: #fff;
  border: 0.1rem solid #009FE6;
  text-align: center;
  font-size: 1.6rem;
  line-height: 116.25%;
  letter-spacing: 0.146rem;
  font-weight: 500;
  padding: 1rem;
  color: #009FE6;
  margin-bottom: 2rem;
}
.contact-wrap__info--item .contact__reservation {
  margin: 2rem 0;
  height: 10rem;
}
@media (max-width: 767px) {
  .contact-wrap__info--item .contact__reservation-title {
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: 0.064em;
    font-weight: 400;
    gap: 2.4rem;
  }
}
.contact-wrap__info--item .contact__reservation-desc {
  font-size: 1.6rem;
  line-height: 170%;
}

.contact-form {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
  margin-top: 6.6rem;
}
@media (max-width: 767px) {
  .contact-form {
    margin-top: 5.8rem;
    padding: 0 2rem;
  }
}
.contact-form__item {
  padding: 2.4rem 0;
  border-bottom: 0.1rem solid #F7F7F7;
  display: flex;
}
@media (max-width: 767px) {
  .contact-form__item {
    display: block;
  }
}
.contact-form__item dt {
  width: 28rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #666;
  font-weight: 400;
}
@media (max-width: 767px) {
  .contact-form__item dt {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}
.contact-form__item dt span {
  font-size: 1.4rem;
}
.contact-form__item dt small {
  font-size: 1rem;
}
.contact-form__item dd {
  width: calc(100% - 28rem);
  font-size: 1.8rem;
  line-height: 150%;
  color: #666;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .contact-form__item dd {
    width: 100%;
    display: block;
  }
}
.contact-form__button {
  margin-top: 2.4rem;
  border-top: 0.1rem solid #F7F7F7;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form textarea {
  width: 100%;
  border: 0.1rem solid #666666;
  border-radius: 0.5rem;
  background: #fff;
  height: 4rem;
  padding: 0 2.4rem;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
}
.contact-form textarea {
  height: 24rem;
  padding: 1.8rem 2.4rem;
}
@media (max-width: 767px) {
  .contact-form textarea {
    height: 29.8rem;
  }
}
.contact-form select {
  width: 8.8rem;
  border: 0.1rem solid #666666;
  border-radius: 0.5rem;
  background: url(../img/contact/icon_select.svg) right 2.4rem center no-repeat #fff;
  background-size: 1rem auto;
  height: 4rem;
  padding: 0 3.6rem 0 2.4rem;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
}
@media (max-width: 767px) {
  .contact-form select {
    width: 6.4rem;
    background-position: right 0.8rem center;
    padding: 0 1.6rem 0 0.8rem;
  }
}
.contact-form select.is-large {
  width: 11rem;
}
@media (max-width: 767px) {
  .contact-form select.is-large {
    width: 9rem;
  }
}
.contact-form select.is-pref {
  width: 17rem;
}

.label-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: flex-start;
}
.label-list.is-vertical {
  flex-direction: column;
}
.label-list label {
  display: block;
  position: relative;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  cursor: pointer;
}
.label-list label span {
  display: block;
  padding-left: 2.8rem;
}
.label-list label span::before {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 0.1rem solid #666666;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0.3rem;
  z-index: 1;
  content: "";
  box-sizing: border-box;
}
.label-list label span::after {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #666666;
  position: absolute;
  left: 0.5rem;
  top: 0.8rem;
  z-index: 2;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.label-list label input[type=radio],
.label-list label input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.label-list label input[type=radio]:checked + span::after,
.label-list label input[type=checkbox]:checked + span::after {
  opacity: 1;
}

.contact-date {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contact-date__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contact-date__item span {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
}

.contact-hope {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-hope__item {
  width: 100%;
}
.contact-hope__item--title {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact-hope__item--text {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
}

.attention-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .attention-wrap {
    padding: 4rem 0;
  }
}
.attention-wrap::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../img//contact/bg_attention.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0.4;
  content: "";
}

.attention-list {
  margin-top: 8.8rem;
}
@media (max-width: 767px) {
  .attention-list {
    margin-top: 7.2rem;
  }
}
.attention-list__item {
  background: #fff;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 159, 230, 0.2);
  padding: 4rem 5.6rem;
  font-size: 1.6rem;
  line-height: 187.5%;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .attention-list__item {
    margin-top: 2.4rem;
    padding: 4rem 2rem;
  }
}
.attention-list .attention-notes {
  color: #009FE6;
  line-height: 170%;
  font-weight: bold;
  margin-bottom: 2.4rem;
}