@charset "UTF-8";
.page-head {
  background: url(../img/crf-breast/bg01.jpg) no-repeat center center/cover;
  padding: 2rem 0;
  margin-top: 3.5rem;
}
@media (max-width: 767px) {
  .page-head {
    margin-top: 0;
  }
  .page-head .inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .page-head .inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page-head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .page-head__content {
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (max-width: 767px) {
  .page-head__text {
    width: 100%;
  }
}

.page-head__subtitle {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  background: #009fe6;
  display: inline-block;
}

.page-head__title {
  padding-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.7;
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1.7rem;
  position: relative;
}
@media (max-width: 767px) {
  .page-head__title {
    font-size: 4rem;
  }
}
.page-head__title::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  width: 4rem;
  height: 0.2rem;
  bottom: 0;
  left: 0;
}

.page-head__description {
  color: #666;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;
  position: relative;
}

.page-head__image {
  width: 48rem;
}
@media (max-width: 767px) {
  .page-head__image {
    width: 100%;
  }
}

.page-nav__menu {
  display: flex;
  gap: 3.4rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .page-nav__menu {
    margin-top: 0.8rem;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.page-nav__menu-btn {
  width: 2rem;
  height: 1.6rem;
  position: relative;
  background-color: transparent;
}
.page-nav__menu-btn span {
  width: 2rem;
  height: 0.1rem;
  background-color: #333;
  position: absolute;
  left: 0;
}
.page-nav__menu-btn span:nth-of-type(1) {
  top: 0;
}
.page-nav__menu-btn span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.page-nav__menu-btn span:nth-of-type(3) {
  bottom: 0;
}

.page-nav__accordion {
  padding: 1.2rem;
  gap: 0.8rem;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .page-nav__accordion {
    display: grid;
  }
}

.page-nav__accordion-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem;
  color: #333;
  font-size: 1.6rem;
  border: 1px solid #d9d9d9;
  position: relative;
}
.page-nav__accordion-link::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-right: 2px solid #009fe6;
  border-bottom: 2px solid #009fe6;
  transform: rotate(-45deg);
}

.page-nav__menu-btn.is-open {
  position: relative;
}
.page-nav__menu-btn.is-open span {
  opacity: 0;
}
.page-nav__menu-btn.is-open::after {
  content: "^";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #009fe6;
  font-size: 1.6rem;
  line-height: 1;
}

.page-nav__menu-title {
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
}

.campaign {
  padding: 4.7rem 0;
}
@media (max-width: 767px) {
  .campaign {
    padding: 4rem 0;
  }
}

.campaign__content {
  background-color: #e7ebe9;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #009fe6;
}
@media (max-width: 767px) {
  .campaign__content {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.campaign__image {
  width: 24.1rem;
  height: 24.1rem;
}
@media (max-width: 767px) {
  .campaign__image {
    width: 31rem;
    height: 31rem;
  }
}
.campaign__image img {
  height: 100%;
}
@media (max-width: 767px) {
  .campaign__image {
    width: 100%;
  }
}

.campaign__info {
  width: 63.9rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .campaign__info {
    width: 100%;
  }
}

.campaign__title {
  padding: 1.1rem 0;
  background: #dff5ff;
  color: #666;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8rem; /* 90% */
  letter-spacing: 0.219rem;
  font-family: "Noto Sans JP";
}

.campaign__details {
  background: #fff;
  padding: 2rem 4rem;
}
@media (max-width: 767px) {
  .campaign__details {
    padding: 2rem 1rem;
    padding-bottom: 3.2rem;
  }
}

.campaign__description {
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.3916rem;
  font-weight: 400;
  line-height: 1.46rem; /* 104.918% */
  letter-spacing: 0.219rem;
  border-radius: 0.5rem;
  border: 1px solid #009fe6;
  text-align: center;
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1.16rem;
}

.campaign__pricing {
  margin-top: 4.4rem;
}
@media (max-width: 767px) {
  .campaign__pricing {
    margin-top: 1rem;
  }
}

.campaign__price-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1.2rem;
  position: relative;
  background-color: #f9fdff;
}
@media (max-width: 767px) {
  .campaign__price-item:nth-of-type(2) {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .campaign__price-item {
    flex-direction: column;
  }
}
.campaign__price-item::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #009fe6;
  border-radius: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
@media (max-width: 767px) {
  .campaign__price-item::after {
    top: 0.4rem;
    transform: none;
  }
}

.campaign__service-name {
  color: #241000;
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46rem; /* 104.286% */
  letter-spacing: 0.219rem;
}

.campaign__price {
  color: #c40000;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.219rem;
}
@media (max-width: 767px) {
  .campaign__price {
    margin-top: 0.7rem;
  }
}
.campaign__price span {
  font-size: 1rem;
}

.page-nav__list {
  display: grid;
  gap: 1.05rem 1.1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 3.1rem;
}
@media (max-width: 767px) {
  .page-nav__list {
    display: none;
  }
}

.page-nav__link {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  height: 6.7rem;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  position: relative;
}
.page-nav__link:nth-of-type(1) {
  border-left: none;
}
.page-nav__link:nth-of-type(5) {
  border-left: none;
}
.page-nav__link::after {
  content: "";
  position: absolute;
  background: url(../img/pico/line.png) no-repeat center center/cover;
  width: 1.14rem;
  height: 0.712rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.759rem;
}

.banner__inner {
  max-width: 105.4rem;
  margin-inline: auto;
  margin-block-start: 1rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.4rem;
}
.banner__inner img {
  object-fit: contain;
  height: auto;
}
@media (max-width: 767px) {
  .banner__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

.campaign-removal {
  background: #fff;
  box-shadow: 0 4px 10px 0 #ccc;
}

.campaign-removal__inner {
  max-width: 104rem;
  margin-inline: auto;
  margin-block-start: 1rem;
  padding-block: 4rem;
  padding-inline: 2rem;
}
.campaign-removal__inner img {
  object-fit: contain;
  height: auto;
}
@media (max-width: 767px) {
  .campaign-removal__inner {
    padding-block: 1.2rem;
    padding-inline: 1rem;
  }
}

.about {
  padding-bottom: 8rem;
  margin-top: 1.8rem;
}
@media (max-width: 767px) {
  .about {
    padding-bottom: 4rem;
    margin-top: 4rem;
  }
}

.about__inner {
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 8.8rem;
}
@media (max-width: 767px) {
  .about__inner {
    flex-direction: column;
    gap: 1.7rem;
  }
}

.about__image {
  width: 40rem;
  flex-shrink: 0;
  box-shadow: 20px 23px 0 #dff5ff;
}
@media (max-width: 767px) {
  .about__image {
    width: auto;
    height: 29.9rem;
    margin-left: 2rem;
  }
}

.about__text {
  padding-top: 8rem;
  width: 71rem;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .about__text {
    width: auto;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.page-title__title {
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Cormorant SC";
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 6.4rem */
  padding-bottom: 1rem;
  position: relative;
}
.page-title__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #0aa4e8 0%, #70d3ff 41.35%, #14aef3 98.08%);
}

.page-title__subtitle {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 1rem;
}

.about__description {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2rem;
}
.about__description p:nth-of-type(n + 2) {
  margin-top: 2rem;
}
.about__description p span {
  font-weight: bold;
}

.merit {
  padding: 9rem 0;
  background-color: #f4fefb;
}
@media (max-width: 767px) {
  .merit {
    padding-top: 4.8rem;
    padding-bottom: 4rem;
  }
}

.head-title {
  text-align: center;
}
.head-title .page-title {
  display: inline-block;
  text-align: left;
}
.head-title .page-title__subtitle {
  text-align: left;
}

.merit__title {
  text-align: center;
}

.merit__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 3.4rem 8.35rem;
  background-color: #fff;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .merit__content {
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 767px) {
  .merit__text {
    width: 100%;
    order: 2;
  }
}

.merit__item {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  padding-left: 2.6rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 2px dotted #ccc;
  width: 38.9rem;
}
@media (max-width: 767px) {
  .merit__item {
    width: auto;
  }
}
.merit__item:nth-of-type(n + 2) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.merit__item::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check.png) no-repeat center center/cover;
  width: 1.6rem;
  height: 1.6rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.merit__image {
  width: 36.4rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .merit__image {
    width: auto;
    order: 1;
  }
}

.feature {
  padding: 8rem 0;
  background-color: #e9f1f7;
}
@media (max-width: 767px) {
  .feature {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.feature__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem 1.6rem;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .feature__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 4.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.feature__item {
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  padding: 9.8rem 1.3rem 5.2rem 1.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 32rem;
  height: 27rem;
  border-radius: 1.6rem;
}

.feature__ribbon {
  position: absolute;
  top: -1.6rem;
  width: 8.4rem;
  height: 8.2rem;
  margin-bottom: 2rem;
}

.feature__ribbon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.feature__ribbon-text {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 900;
  white-space: nowrap;
}

.feature__ribbon-number {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.04;
}

.feature__title {
  color: #333;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.7;
}

.feature__text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 0.8rem;
}

.comparison {
  background: linear-gradient(180deg, #fff 0%, rgba(223, 245, 255, 0.5) 100%);
  padding-top: 5.3rem;
  padding-bottom: 3.8rem;
}
@media (max-width: 767px) {
  .comparison {
    padding-top: 2.3rem;
  }
}

.comparison__inner {
  max-width: 103.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.comparison__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .comparison__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

.comparison__item {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  border: 1px solid #02506f;
  border-radius: 1rem;
}

.comparison__device-name {
  height: 7rem;
  background-color: #009fe6;
  padding-left: 9.8rem;
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 3.4rem */
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .comparison__device-name {
    padding-left: 0;
    justify-content: center;
  }
}
.comparison__device-name::after {
  content: "";
  position: absolute;
  background: url(../img/pico/news.png) no-repeat center center/cover;
  width: 5rem;
  height: 5rem;
  top: 0.2rem;
  left: 0.2rem;
}

.comparison__specs {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.comparison__spec-label {
  background: linear-gradient(90deg, #b78f36 0%, #caab66 45%, #987f47 100%);
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  padding: 0.4rem 0;
  line-height: 170%; /* 2.72rem */
}

.comparison__spec-value {
  color: #444;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  margin: 1rem 0;
}

.comparison__item--old .comparison__device-name {
  padding-left: 0;
  text-align: center;
  justify-content: center;
  color: #444;
  background: linear-gradient(90deg, #fafafc 21.32%, #f0f0f0 78.82%);
}
.comparison__item--old .comparison__device-name::after {
  display: none;
}
.comparison__item--old .comparison__spec-label {
  background: #ccc;
}
.comparison__item--old .comparison__feature {
  color: #6f6f6f;
}

.comparison__features {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .comparison__features {
    margin-top: 0;
  }
}

.comparison__feature {
  color: #af9454;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 170%; /* 2.72rem */
  text-align: left;
  padding-left: 6rem;
  position: relative;
}
.comparison__feature::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check01.png) no-repeat center center/cover;
  width: 3rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.comparison__feature:nth-of-type(n + 2) {
  margin-top: 1.3rem;
}

.comparison__wavelength {
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid #009fe6;
  background: #fff;
  padding: 4rem 3rem;
}
@media (max-width: 767px) {
  .comparison__wavelength {
    padding: 2rem;
  }
}

.comparison__wavelength-title {
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  display: flex;
  padding: 0.8rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%; /* 2.4rem */
}

.comparison__wavelength-content {
  margin-top: 4rem;
  display: flex;
  gap: 5rem;
}
@media (max-width: 767px) {
  .comparison__wavelength-content {
    flex-direction: column;
  }
}

.comparison__wavelength-image {
  width: 31.3rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .comparison__wavelength-image {
    width: 100%;
  }
}

.comparison__wavelength-item:nth-of-type(n + 2) {
  margin-top: 2rem;
}

.comparison__wavelength-name {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  line-height: 170%; /* 3.4rem */
  padding-left: 3.5rem;
  text-align: left;
  position: relative;
}
.comparison__wavelength-name::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check01.png) no-repeat center center/cover;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
@media (max-width: 767px) {
  .comparison__wavelength-name::after {
    transform: none;
    top: 0;
  }
}

.comparison__wavelength-description {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  margin-top: 1rem;
  text-align: left;
}

.effect {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background: linear-gradient(180deg, #fff 0%, rgba(223, 245, 255, 0.5) 100%);
}
@media (max-width: 767px) {
  .effect {
    padding-top: 4rem;
  }
  .effect .inner {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}
.effect .head-title .page-title {
  padding: 2rem 3rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .effect .head-title .page-title {
    padding: 1.5rem 2rem;
  }
}

.effect__content {
  margin-top: 7.16rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
  .effect__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 2rem 1.5rem;
  }
}

.effect__item {
  border-radius: 0.5rem;
  background: #fff;
  padding: 8rem 1.5rem 2rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1.6rem;
  border: 2px solid #0aa4e8;
}
@media (max-width: 767px) {
  .effect__item {
    padding: 2rem 1rem;
    padding-top: 4rem;
  }
}

.effect__number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  margin: 0 auto;
  font-family: Aboreto, sans-serif;
}
@media (max-width: 767px) {
  .effect__number {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}

.effect__title {
  color: #333;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .effect__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.effect__text {
  color: #333;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
}
@media (max-width: 767px) {
  .effect__text {
    font-size: 1.4rem;
  }
}

.case-after {
  padding-top: 13rem;
  padding-bottom: 9rem;
}
@media (max-width: 767px) {
  .case-after {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  .case-after .title {
    font-size: 6.1rem;
  }
}

@media (max-width: 767px) {
  .case__content {
    margin-top: 11.2rem;
  }
}

.flow {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url(../img/pico/flow-bg.jpg) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .flow {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.flow__content {
  margin-top: 4rem;
  padding: 4rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .flow__content {
    padding: 4rem 1rem;
    margin-top: 2.3rem;
  }
}

.flow__image {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
}
.flow__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
  .flow__image {
    width: 100%;
    max-width: 30rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.flow__text {
  flex: 1;
}

.flow__step {
  color: #70d3ff;
  font-family: "Cormorant SC", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1rem;
}

.flow__title {
  color: #333;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: left;
}
@media (max-width: 767px) {
  .flow__title {
    font-size: 1.8rem;
  }
}

.flow__description {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 767px) {
  .flow__description {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

.flow__item {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  position: relative;
}
@media (max-width: 767px) {
  .flow__item {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
.flow__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #af9454;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem;
}
@media (max-width: 767px) {
  .flow__item::after {
    bottom: -2.5rem;
  }
}
.flow__item:last-child::after {
  display: none;
}
.flow__item:nth-of-type(n + 2) {
  margin-top: 5rem;
}
@media (max-width: 767px) {
  .flow__item:nth-of-type(n + 2) {
    margin-top: 4rem;
  }
}
@media (max-width: 767px) {
  .flow__item {
    flex-direction: column;
  }
}
.flow__item:last-of-type::after {
  display: none;
}

.about-page {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .about-page {
    padding-top: 3.5rem;
    padding-left: 1.6rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .about-page .page-title {
    padding-left: 0;
  }
}
.about-page .page-title .page-title__subtitle {
  color: #333;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  .about-page .page-title .page-title__subtitle {
    font-size: 1.4rem;
  }
}

.about-page__inner {
  max-width: 115.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .about-page__inner {
    padding-left: 0;
    padding-right: 2rem;
  }
}

.about-page__content {
  margin-top: 4rem;
  border: 1px solid #6f6f6f;
}
@media (max-width: 767px) {
  .about-page__content {
    margin-top: 2rem;
  }
}

.about-page__title {
  color: #6f6f6f;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  background: #f9fdff;
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-right: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
  padding: 1rem 0;
}
@media (max-width: 767px) {
  .about-page__title {
    width: 100%;
    border-right: none;
    padding: 1rem 0;
  }
}

.about-page__text {
  padding: 1rem 2rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  border-bottom: 1px solid #6f6f6f;
  width: 100%;
  align-self: flex-start;
}

.about-page__item {
  display: flex;
}
@media (max-width: 767px) {
  .about-page__item {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about-page__item:last-of-type .about-page__title {
    border-bottom: none;
  }
}
.about-page__item:last-of-type .about-page__text {
  border-bottom: none;
}

.about-page__list-item {
  padding-left: 2.4rem;
  position: relative;
}
.about-page__list-item::after {
  content: "・";
  position: absolute;
  color: #333;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .about-page__list-item::after {
    top: 0;
    transform: none;
  }
}

.price {
  padding-top: 8.7rem;
  padding-bottom: 9rem;
  background: #f9fdff;
}
@media (max-width: 767px) {
  .price {
    padding-top: 3.7rem;
  }
}

.price__inner {
  max-width: 89.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.price__description {
  height: 8rem;
  background: #dff5ff;
  color: #009fe6;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .price__description {
    background: rgba(233, 241, 247, 0.3);
    height: 4rem;
  }
}

.price__table {
  border: 1px solid #ccc;
}

.price__item {
  height: 9.1rem;
  display: flex;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price__item {
    height: auto;
  }
}
.price__item:nth-of-type(2) {
  border-bottom: none;
}
@media (max-width: 767px) {
  .price__item {
    flex-direction: column;
  }
}

.price__treatment-name {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  padding-left: 4rem;
  width: 55rem;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .price__treatment-name {
    width: 100%;
    background: #e9f1f7;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
}

.price__list-wrapper {
  padding: 1.3rem 0rem 1.9rem 2.7rem;
  width: 100%;
  height: 100%;
}

.price__list-item {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  text-align: left;
}
.price__list-item:nth-of-type(n + 2) {
  margin-top: -0.5rem;
}

.price__list-item--last .price__label {
  width: 14.1rem;
}

.price__label {
  font-size: 1.6rem;
  display: inline-block;
  width: 5.6rem;
}

.price__currency,
.price__unit-currency {
  font-size: 1.1667rem;
}

.price__unit-price {
  display: inline-block;
  margin-left: 1.6rem;
}

.price__price {
  font-size: 2rem;
  display: inline-block;
  margin-left: 1.7rem;
}

.faq {
  padding-top: 9rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .faq {
    padding-top: 4.2rem;
    padding-bottom: 2rem;
  }
}

.faq__content {
  margin-top: 4rem;
  padding-bottom: 3.2rem;
}
@media (max-width: 767px) {
  .faq__content {
    margin-top: 3rem;
  }
}

.faq__item {
  background-color: #fff;
}
.faq__item:nth-of-type(n + 2) {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .faq__item:nth-of-type(n + 2) {
    margin-top: 1.8rem;
  }
}
.faq__item:last-of-type {
  padding-bottom: 0;
}

.faq__question {
  padding-top: 3.2rem;
  padding-bottom: 2.9rem;
  border-bottom: 1px solid #ccc;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: pointer;
}
@media (max-width: 767px) {
  .faq__question {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-right: 6.2rem;
    display: flex;
    align-items: center;
  }
}
.faq__question::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  width: 0.2rem;
  height: 1.8rem;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}
.faq__question::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  width: 1.8rem;
  height: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.faq__q-mark {
  display: inline-block;
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2.4rem;
}
@media (max-width: 767px) {
  .faq__q-mark {
    display: block;
  }
}

.faq__answer {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  padding-top: 3.4rem;
  padding-bottom: 3.2rem;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  justify-content: center;
  gap: 1.6rem;
  display: none;
  font-family: "Cormorant Garamond";
}
@media (max-width: 767px) {
  .faq__answer {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.faq__answer-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
}

.faq__a-mark {
  display: block;
  font-family: "Cormorant Garamond";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 2.52rem */
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq__item.is-open .faq__question::before {
  opacity: 0;
}
.faq__item.is-open .faq__answer {
  display: flex;
  justify-content: flex-start;
}

.cause {
  padding-top: 9rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .cause {
    padding-top: 4rem;
  }
}

.cause__list {
  padding: 2rem 0;
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 6.4rem;
}
@media (max-width: 767px) {
  .cause__list {
    margin-top: 4.4rem;
  }
}

.cause__item:nth-of-type(n + 2) {
  margin-top: 3.6rem;
}
@media (max-width: 767px) {
  .cause__item:nth-of-type(n + 2) {
    margin-top: 2.4rem;
  }
}

.cause__item-title {
  color: #009fe6;
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding: 1rem 3rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.cause__item-text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .cause__item-text {
    margin-top: 2.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.cause__item--with-image {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.reason__row {
  margin-top: 4.8rem;
}
@media (max-width: 767px) {
  .reason__row {
    margin-top: 2.3rem;
    margin-left: 2.1rem;
    margin-right: 2.1rem;
  }
}

.reason__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 767px) {
  .reason__item {
    flex-direction: column;
  }
}

.reason__item-image {
  width: 35.2rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .reason__item-image {
    width: 100%;
  }
}

.reason__item-title {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%; /* 2.4rem */
  padding-bottom: 0.8rem;
  position: relative;
}
.reason__item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.8rem;
  height: 0.2rem;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
}

.reason__item-text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 1.6rem;
}
.reason__item-text:nth-of-type(2) {
  font-size: 1.4rem;
}

.reason__row--with-image .reason__item-image {
  order: 2;
}
.reason__row--with-image .reason__item-content {
  order: 2;
}

.comparison__wavelength-features {
  margin-top: 1rem;
}

.comparison__wavelength-feature {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  text-align: left;
}

.comparison__content-title {
  color: #009fe6;
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-top: 3rem;
}

.comparison__spec-value-text {
  color: #009fe6;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%; /* 2.7rem */
  margin-top: 1rem;
}

.price__inner-wrapper--laser .price__treatment-name {
  max-width: 35rem;
  width: 35rem;
}
.price__inner-wrapper--laser .price__list-wrapper01 {
  max-width: 28rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  padding-left: 0;
  border-top: none;
}
@media (max-width: 767px) {
  .price__inner-wrapper--laser .price__list-wrapper01 {
    max-width: 100%;
    width: 100%;
  }
}
.price__inner-wrapper--laser .price__list-wrapper02 {
  max-width: 37rem;
  width: 37rem;
  color: var(--, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price__inner-wrapper--laser .price__list-wrapper02 span {
  font-size: 1.1667rem;
}
.price__inner-wrapper--laser .price__item {
  border-bottom: none;
}
.price__inner-wrapper--laser .price__treatment-name {
  border-right: none;
}

.price__description02 {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: left;
}
@media (max-width: 767px) {
  .price__description02 {
    padding-left: 1.5rem;
  }
}

.price__list-wrapper01 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  padding-left: 4rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.price__option {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .price__option {
    margin-top: 0;
  }
}

.price__option-title {
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f1f7;
  color: #009fe6;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price__option-title {
    display: none;
  }
}

.price__option-item {
  display: flex;
  height: 9rem;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price__option-item {
    flex-direction: column;
    height: auto;
  }
}

.price__option-name {
  max-width: 63rem;
  width: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07rem;
  border-right: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price__option-name {
    max-width: 100%;
    height: 7rem;
    width: 100%;
    background-color: #e9f1f7;
  }
}

.price__option-price {
  max-width: 37rem;
  width: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .price__option-price {
    max-width: 100%;
    width: 100%;
    height: 8rem;
  }
}
.price__option-price span {
  font-size: 1.1667rem;
}

.price__tabs {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .price__tabs {
    margin-top: 2.7rem;
  }
}

.price-tabs__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.price-tabs__tab {
  height: 5.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  font-family: "Noto Serif JP";
  background: #ddd;
}

.price-tabs__tab.is-active {
  background-color: #009fe6;
}

.price-panel-header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 3rem;
  background: #009fe6;
}

.price-panel-title {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
}

.price-panel-reserve-link {
  border: 1px solid #fff;
  width: 19.9rem;
  height: 3.6rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  padding-left: 1.7rem;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .price-panel-reserve-link {
    display: none;
  }
}
.price-panel-reserve-link::after {
  content: "";
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%; /* 1.92rem */
  width: 4.2862rem;
  height: 0.1rem;
  background-color: #fff;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.price-panel-list {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.price-panel-list-title {
  height: 9rem;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  color: #009fe6;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price-panel-list-title {
    height: 7.1rem;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
}

.price-panel-item {
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 767px) {
  .price-panel-item {
    height: auto;
    flex-direction: column;
  }
}
.price-panel-item:nth-of-type(n + 2) {
  border-top: 1px solid #ccc;
}

.price-panel-item-desc {
  width: 63rem;
  max-width: 63rem;
  text-align: left;
  padding-left: 4rem;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #ccc;
  flex-direction: column;
}
@media (max-width: 767px) {
  .price-panel-item-desc {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
    height: auto;
    background-color: #e9f1f7;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.price-panel-item-label {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}
.price-panel-item-price {
  width: 37rem;
  max-width: 37rem;
  color: #333;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .price-panel-item-price {
    height: 8rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.price-panel-item-price span {
  font-size: 1.2rem;
}

.mt182 {
  margin-top: 18.2rem;
}
@media (max-width: 767px) {
  .mt182 {
    margin-top: 0;
  }
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.w100 {
  max-width: 100%;
  font-size: 1.4rem;
  color: #333;
}

.mt24 {
  margin-top: 2.4rem;
}

.center {
  width: 100%;
  text-align: center;
}
.center span {
  display: inline-block;
  text-align: left;
}

.border-none {
  border-top: none;
}

.mt0 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .mt0 {
    margin-top: 3rem;
  }
}

.price__title {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  height: 5.4rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0aa4e8;
  background: linear-gradient(90deg, #e9f1f7 0%, #f0f5f5 100%);
}
@media (max-width: 767px) {
  .price__title {
    padding-left: 0;
    justify-content: center;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
}

.effect__item {
  padding-bottom: 4.98rem;
}

.flow__content {
  padding: 4.4rem;
}
@media (max-width: 767px) {
  .flow__content {
    padding: 4.4rem 2rem;
  }
}

.flow__item {
  gap: 5rem;
}
@media (max-width: 767px) {
  .flow__item {
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .reason__item--with-image .reason__item-content {
    order: 2;
  }
}
@media (max-width: 767px) {
  .reason__item--with-image .reason__item-image {
    order: 1;
  }
}

@media (min-width: 768px) {
  .page-id-36 .price__item {
    height: 14rem;
  }
}

.cause-eye {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.cause-eye__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 6.4rem;
}
@media (max-width: 767px) {
  .cause-eye__about {
    grid-template-columns: 1fr;
  }
}

.cause-eye__about-title {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 170%; /* 34px */
  padding-left: 3.5rem;
  position: relative;
}
.cause-eye__about-title::after {
  content: "";
  position: absolute;
  background: url(../img/under-eye/check.png) no-repeat center center/cover;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.cause-eye__about-image {
  margin-top: 2rem;
}

.cause-eye__about-text {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  margin-top: 2rem;
}

.cause-eye__types {
  margin-top: 6.4rem;
}

.cause-eye__types-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.4rem;
}

.cause-eye__type {
  border: 1px solid #000;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.cause-eye__type-head {
  font-family: "Cormorant SC";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.4rem */
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 4rem;
}
.cause-eye__type-head span {
  font-size: 6.4rem;
  display: inline-block;
  margin-left: 1.8rem;
}

.cause-eye__type-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 180%; /* 2.4rem */
}

.cause-eye__types-group-2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
@media (max-width: 767px) {
  .cause-eye__types-group-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cause-eye__detail {
  margin-top: 13rem;
}

.cause-eye__detail-number {
  font-family: "Cormorant SC";
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%; /* 2.4rem */
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cause-eye__detail-number span {
  display: inline-block;
  font-size: 6.4rem;
  margin-left: 1.8rem;
}

.cause-eye__detail-title {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 2.4rem */
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  margin-top: 1rem;
  line-height: 1.6;
}

.cause-eye__detail-text {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.cause-eye__anatomy {
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .cause-eye__anatomy {
    max-width: none;
  }
}

.cause-eye__anatomy-box {
  margin-top: 5rem;
}

.cause-eye__anatomy-title {
  color: #009fe6;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.cause-eye__anatomy-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 4rem;
}

.cause-eye__anatomy-image {
  margin-top: 3.95rem;
}

.cause-eye__anatomy-desc-sub {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 4.02rem;
}

.case01__swiper {
  margin-top: 4rem;
  max-width: 80.8rem;
  margin-left: auto;
  margin-right: auto;
}
.case01__swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .case01__swiper .swiper-slide {
    flex-direction: column;
  }
}
.case01__swiper .swiper-wrapper {
  position: relative;
}
.case01__swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.case01__swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background-color: #999999;
}
.case01__swiper .swiper-pagination-bullet-active {
  background-color: #009fe6;
}

.case01__swiper-img-box {
  width: 11.4rem;
  height: 11.3rem;
  flex-shrink: 0;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.case01__swiper-text-box {
  width: 63.3rem;
  height: 24.1rem;
  position: relative;
  z-index: 2;
  padding-left: 2.7rem;
}
.case01__swiper-text-box::after {
  content: "";
  position: absolute;
  background: url(../img/under-eye/bg.png) no-repeat center center/cover;
  width: 65.4rem;
  height: 24.1rem;
  top: 0;
  left: -2.1rem;
  z-index: -1;
}

.case01__swiper-title {
  color: #333;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 200%; /* 3.2rem */
  padding-top: 2rem;
  width: 58.1rem;
}

.case01__swiper-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  width: 58.1rem;
  margin-top: 0.2rem;
}

.case01__pagination {
  text-align: center;
  margin-top: 8rem;
}

.cause-face {
  padding-top: 9rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .cause-face {
    padding-top: 4rem;
  }
}
.cause-face .inner {
  max-width: 84rem;
}

.cause-face__about {
  margin-top: 6.4rem;
}
.cause-face__about .cause__item-text span {
  font-weight: bold;
}
.cause-face__about .cause__item .cause__item-title {
  margin-top: 4rem;
}
.cause-face__about .cause__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  object-fit: contain;
}

.cause__flow-steps {
  margin-top: 4rem;
}

.cause__flow-item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.cause__flow-item:first-child {
  margin-top: 0;
}
.cause__flow-item:nth-child(2), .cause__flow-item:nth-child(4) {
  flex-direction: row-reverse;
}
.cause__flow-item:nth-child(1), .cause__flow-item:nth-child(3), .cause__flow-item:nth-child(5) {
  flex-direction: row;
}
@media (max-width: 767px) {
  .cause__flow-item {
    flex-direction: column !important;
    gap: 2rem;
    margin-top: 3rem;
    align-items: flex-start;
  }
}

.cause__flow-image {
  width: 40rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .cause__flow-image {
    width: 100%;
  }
}
.cause__flow-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cause__flow-text {
  flex: 1;
}

.cause__flow-title {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Noto Sans JP";
  line-height: 1.5;
  margin-bottom: 0.8rem;
  position: relative;
  padding-bottom: 1.6rem;
}
.cause__flow-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.8rem;
  height: 0.1rem;
  background: linear-gradient(90deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
}

.cause__flow-description {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.treatment {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: linear-gradient(180deg, #fff 0%, rgba(223, 245, 255, 0.5019607843) 50%);
}

@media (max-width: 768px) {
  .treatment .page-title__title {
    font-size: 6rem; /* ← 好きなサイズに変更 */
  }
}
.treatment__detail {
  margin-top: 1rem;
  position: relative;
  background-color: #fff;
  padding-left: 12rem;
  padding-right: 12rem;
}
.treatment__detail:first-child {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .treatment__detail {
    padding: 0 1rem;
  }
}

.treatment__banner {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #009fe6 0%, #74d4ff 41.35%, #11adf3 98.08%);
  padding: 1.2rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .treatment__banner {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
  }
}

.treatment__subtitle-content {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.treatment__subtitle {
  color: #009fe6;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.treatment__subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 4rem);
  max-width: 100rem;
  height: 1px;
  background: #ccc;
  z-index: -1;
}
@media (max-width: 767px) {
  .treatment__subtitle::after {
    width: calc(100vw - 4rem);
    max-width: none;
  }
}
.treatment__subtitle .treatment__subtitle-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.treatment__subtitle .treatment__subtitle-title {
  width: fit-content;
  text-align-last: left;
}
.treatment__subtitle .treatment__subtitle-text {
  color: #009fe6;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 0.8rem;
  font-family: "Noto Sans JP", sans-serif;
  text-align: left;
  width: fit-content;
}
.treatment__subtitle:nth-of-type(2) {
  margin-top: 0;
}

.treatment__description {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  text-align: left;
}

.treatment__content {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .treatment__content {
    flex-direction: column;
    gap: 3rem;
  }
}

.treatment__recommend {
  flex: 1;
}

.treatment__recommend-title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.treatment__recommend-note {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.treatment__recommend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.treatment__recommend-list li {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  padding-left: 2.6rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}
.treatment__recommend-list li:nth-of-type(n + 2) {
  margin-top: 1rem;
}
.treatment__recommend-list li::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check.png) no-repeat center center/cover;
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.treatment__recommend-list li:last-child {
  margin-bottom: 0;
}

.treatment__images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 767px) {
  .treatment__images {
    width: 100%;
  }
}

.treatment__image {
  margin: 0;
  position: relative;
}
.treatment__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
.treatment__image figcaption {
  position: absolute;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
}
.treatment__image .treatment__image-before {
  top: 1rem;
  left: 1rem;
}
.treatment__image .treatment__image-after {
  top: 55%;
  left: 1rem;
  transform: translateY(-50%);
}

.facelift-about .about-page__item:nth-of-type(6) {
  height: auto !important;
}
.facelift-about .about-page__text-link {
  text-decoration: underline;
  color: #333;
}

.face-price {
  padding-top: 8.7rem;
  padding-bottom: 9rem;
  background: #f9fdff;
}
@media (max-width: 767px) {
  .face-price {
    padding-top: 3.7rem;
  }
}

.face-price__block {
  margin-bottom: 2.4rem;
}

.face-price__title {
  height: 8rem;
  background: #dff5ff;
  color: #009fe6;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}

@media (max-width: 768px) {
  .face-price__title {
    background: rgba(233, 241, 247, 0.3);
    height: auto;
    padding: 1rem;
    font-size: 1.4rem;
  }
}
.face-price__option-title {
  margin-top: 2.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f1f7;
  color: #009fe6;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.16rem;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .face-price__option-title {
    display: none;
  }
}
/* =============================
   表（PCレイアウト）
============================= */
.face-price__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  table-layout: auto;
  background-color: #fff;
}
.face-price__table--option {
  background-color: #f8f8f8;
}

.face-price__table tr {
  border-bottom: 1px solid #ccc;
}

.face-price__table td {
  padding: 1.6rem 2rem;
  vertical-align: middle;
  color: #333;
}

.face-price__name {
  width: 63rem;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.07rem;
  border-right: 1px solid #ccc;
  word-break: break-word;
}

.face-price__name small,
.face-price__name span {
  font-size: 1.3rem;
  color: #666;
}

.face-price__price {
  width: 37rem;
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  word-break: keep-all;
}

.face-price__price span {
  font-size: 1.1667rem;
}

/* 調整中 */
.face-price__table td.face-price__price.type1 {
  padding: 2rem 5rem; /* ← 好きな数値に調整 */
}

/* =============================
   行ごと制御
============================= */
.face-price__row {
  display: flex;
  align-items: baseline;
  gap: 5.4rem;
  justify-content: flex-end;
}

.face-price__value {
  display: inline-flex;
  align-items: baseline;
  gap: 0.1em;
}

.face-price__price .face-price__amount {
  font-size: 2rem;
}

.face-price__unit {
  font-size: 1.1667rem;
}

.face-price__note {
  font-size: 1.4rem;
  color: #666;
  white-space: nowrap;
}

/* =============================
   スマホ（レイアウト微調整）
============================= */
@media (max-width: 768px) {
  .face-price__row {
    align-items: center;
    gap: 2rem;
  }
  .face-price__amount {
    font-size: 1.8rem;
  }
  .face-price__unit {
    font-size: 1.2rem;
  }
}
/* =============================
   SPレイアウト（縦並び）
============================= */
@media (max-width: 768px) {
  .face-price__table {
    display: block;
    width: 100%;
    border: none;
    border-collapse: separate; /* ← テーブル構造解除 */
  }
  .face-price__table tbody {
    display: block;
    width: 100%;
  }
  .face-price__table tr {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 0;
  }
  .face-price__table td {
    display: block;
    width: 100%;
    border: none;
    padding: 1.2rem 1.6rem;
  }
  .face-price__name {
    background-color: #e9f1f7;
    border-right: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.6rem 0;
    line-height: 1.6;
  }
  /* 値段部分 */
  .face-price__price {
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.4rem 0;
    line-height: 1.6;
  }
  .face-price__price span {
    font-size: 1.2rem;
  }
}
/* =============================
   オプションテーブル 背景色
============================= */
.face-price__option-title + .face-price__table {
  background: #f8f8f8;
}

@media (max-width: 768px) {
  .face-price__option-title + .face-price__table {
    background: none;
  }
}