@charset "UTF-8";
.notice-list__inner {
  max-width: 104rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .notice-list__inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
  }
}

.notice-list__side {
  width: 16rem;
}
@media (max-width: 767px) {
  .notice-list__side {
    width: 100%;
    margin-top: 2.4rem;
  }
}

.notice-list__category__button {
  width: 100%;
  margin-bottom: 1.6rem;
}
.notice-list__category__button a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.064rem;
  line-height: 1;
  height: 4rem;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 768px) {
  .notice-list__category__button a:hover {
    opacity: 0.6;
  }
}

.notice-list__category__list {
  padding-top: 1.2rem;
  position: relative;
}
.notice-list__category__list::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.1rem;
  content: "";
  background: linear-gradient(88.17deg, #dc96a3 0.02%, #ba9cce 94.87%);
}
@media (max-width: 767px) {
  .notice-list__category__list::before {
    background: #009fe6;
  }
}
.notice-list__category__list h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 1.2rem;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.notice-list__category__list ul {
  width: 100%;
  max-width: 13rem;
}
.notice-list__category__list ul li a {
  display: block;
  width: 100%;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  border-radius: 0.4rem;
  padding: 0.1rem;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out;
}
.notice-list__category__list ul li a span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.064rem;
  color: #333;
  line-height: 1.5;
  padding: 0.2rem;
}
@media (min-width: 768px) {
  .notice-list__category__list ul li a:hover {
    opacity: 0.6;
  }
}
.notice-list__category__list ul li + li {
  margin-top: 0.8rem;
}

.notice-list__body {
  width: calc(100% - 20rem);
}
@media (max-width: 767px) {
  .notice-list__body {
    width: 100%;
  }
}

.notice-list__item {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #009fe6;
}
@media (max-width: 767px) {
  .notice-list__item {
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 2.4rem;
  }
}
.notice-list__item:nth-of-type(n + 2) {
  padding-top: 3.2rem;
}
@media (max-width: 767px) {
  .notice-list__item:nth-of-type(n + 2) {
    padding-top: 2.4rem;
  }
}

.notice-list__image {
  width: 21rem;
  height: 13.6rem;
  overflow: hidden;
  flex-shrink: 0;
}
.notice-list__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 767px) {
  .notice-list__image {
    width: 100%;
    height: 20rem;
  }
}

.notice-list__info {
  width: calc(100% - 25rem);
}
@media (max-width: 767px) {
  .notice-list__info {
    width: 100%;
  }
}

.notice-list__meta {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
@media (max-width: 767px) {
  .notice-list__meta {
    gap: 1.9rem;
  }
}

.notice-list__date {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 160%; /* 2.08rem */
  letter-spacing: 0.052rem;
}

.notice-list__category {
  display: flex;
  padding: 0.4rem 1.2rem;
  align-items: center;
  gap: 1rem;
  border: 1px solid #009fe6;
  color: #009fe6;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%; /* 1.5rem */
  letter-spacing: 0.06rem;
}
@media (max-width: 767px) {
  .notice-list__category {
    padding: 0.2rem 1rem;
  }
}

.notice-list__title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.08rem;
  margin-top: 0.3rem;
}

.notice-list__text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 180%; /* 2.88rem */
  letter-spacing: 0.064rem;
  margin-top: 0.3rem;
}

.wp-pagenavi {
  width: calc(100% + 20rem);
  margin-left: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.6rem;
  margin-top: 4rem;
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
@media (max-width: 767px) {
  .wp-pagenavi {
    width: 100%;
    margin-left: 0;
    margin-top: 2.4rem;
  }
}
.wp-pagenavi .pages,
.wp-pagenavi .last,
.wp-pagenavi .first {
  display: none;
}
.wp-pagenavi a.page,
.wp-pagenavi span.current,
.wp-pagenavi span.extend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
}
.wp-pagenavi a.page,
.wp-pagenavi span.extend {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  font-size: 0;
}
.wp-pagenavi .previouspostslink {
  background-image: url(../img/notice/icon_arrow.svg);
  transform: scaleX(-1);
  margin-left: 1.2rem;
}
.wp-pagenavi .nextpostslink {
  background-image: url(../img/notice/icon_arrow.svg);
  margin-right: 1.2rem;
}

.notice-detail {
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .notice-detail {
    padding: 4rem 0;
  }
}

.notice-detail__inner {
  position: relative;
  display: flex;
  gap: 4rem;
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .notice-detail__inner {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
}

.notice-detail__box {
  flex: 1;
  min-width: 0;
  padding: 1rem;
}
@media (max-width: 767px) {
  .notice-detail__box {
    padding: 0;
  }
}

.notice-head {
  margin-bottom: 2.4rem;
}

.notice-head__meta {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .notice-head__meta {
    display: none;
  }
}

.notice-head__date {
  font-size: 1.4rem;
  line-height: 121.42857%;
  font-weight: 400;
  letter-spacing: 0.064em;
  color: #afafaf;
  min-width: 8.2rem;
}

.notice-head__category {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background: #009fe6;
}

.notice-head__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: #009fe6;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .notice-head__title {
    line-height: 180%;
    margin-top: 0;
  }
}

.notice-head__thumbnail {
  margin-top: 2.4rem;
  width: 100%;
}
.notice-head__thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 767px) {
  .notice-head__thumbnail {
    margin-top: 1.6rem;
  }
}

.notice-body__content .h2,
.notice-body__content h2 {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  border-bottom: 0.2rem solid #009fe6;
  padding: 0 0 1rem;
  font-size: 2.4rem;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #009fe6;
  scroll-margin-top: 14rem;
}
@media (max-width: 767px) {
  .notice-body__content .h2,
  .notice-body__content h2 {
    scroll-margin-top: 6.6rem;
  }
}

.notice-body__content .h3,
.notice-body__content h3 {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: #333;
  padding-left: 1.6rem;
  position: relative;
  scroll-margin-top: 14rem;
}
@media (max-width: 767px) {
  .notice-body__content .h3,
  .notice-body__content h3 {
    line-height: 140%;
    scroll-margin-top: 6.6rem;
  }
}
.notice-body__content .h3::before,
.notice-body__content h3::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  content: "";
  z-index: 2;
}

.notice-body__content ul.is-odd,
.notice-body__content ol.is-odd {
  background: #f9fdff;
}
@media (max-width: 767px) {
  .notice-body__content ul.is-odd,
  .notice-body__content ol.is-odd {
    background: linear-gradient(180deg, #dff5ff 0%, #ffffff 100%);
  }
}

.notice-body__content ul.is-odd {
  padding: 2.4rem 2.4rem 2.4rem 4.1rem;
}

.notice-body__content ol.is-odd {
  padding: 2.4rem 2.4rem 2.4rem 4.9rem;
}

.notice-body__content {
  margin-bottom: 3.2rem;
}
.notice-body__content p {
  font-size: 1.6rem;
  line-height: 150%;
  color: #333;
}
.notice-body__content p + p {
  margin-top: 1.6rem;
}
.notice-body__content figure {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 2.4rem;
}
.notice-body__content figure img {
  width: 100%;
}
.notice-body__content h4 {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 500;
  color: #333;
}
@media (max-width: 767px) {
  .notice-body__content h4 {
    line-height: 140%;
  }
}
.notice-body__content ul {
  padding-left: 1.7rem;
}
.notice-body__content ul li {
  list-style: none;
  font-size: 1.6rem;
  line-height: 150%;
  color: #333;
  padding-left: 1.6rem;
  position: relative;
}
@media (max-width: 767px) {
  .notice-body__content ul li {
    line-height: 118.75%;
  }
}
.notice-body__content ul li::before {
  content: "・";
  position: absolute;
  left: 0;
}
.notice-body__content ul li + li {
  margin-top: 0.8rem;
}
.notice-body__content ol {
  padding-left: 2.5rem;
}
.notice-body__content ol li {
  list-style: decimal;
  font-size: 1.6rem;
  line-height: 150%;
  color: #333;
}
@media (max-width: 767px) {
  .notice-body__content ol li {
    line-height: 118.75%;
  }
}
.notice-body__content ol li + li {
  margin-top: 0.8rem;
}
.notice-body__content blockquote {
  position: relative;
  padding: 2.5rem 4.8rem 3.5rem 4.8rem;
  margin: 3.2rem 0;
  color: #666;
}
@media (max-width: 767px) {
  .notice-body__content blockquote {
    padding: 1.6rem 1.6rem 1.6rem 3.2rem;
    margin: 1.6rem 0;
  }
}
.notice-body__content blockquote::before {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  width: 3.2rem;
  height: 6rem;
  background: url(../img/column/icon_quote_top.svg) left top no-repeat;
  background-size: 100% 100%;
  content: "";
}
@media (max-width: 767px) {
  .notice-body__content blockquote::before {
    left: 1rem;
    top: 1rem;
    width: 1.721rem;
  }
}
.notice-body__content blockquote::after {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  width: 3.2rem;
  height: 6rem;
  background: url(../img/column/icon_quote_bottom.svg) right bottom no-repeat;
  background-size: 100% 100%;
  content: "";
}
@media (max-width: 767px) {
  .notice-body__content blockquote::after {
    width: 1.721rem;
    background: url(../img/column/icon_quote_bottom_sp.svg) right bottom no-repeat;
    background-size: 100% 100%;
    bottom: 1.3rem;
  }
}
.notice-body__content blockquote p {
  color: #666;
  font-weight: 300;
}

.notice-body__toc {
  width: 21.4rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .notice-body__toc {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.table-of-contents {
  position: sticky;
  top: 16rem;
}
@media (max-width: 767px) {
  .table-of-contents {
    position: relative;
    top: 0;
  }
}
.table-of-contents ol {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.1rem solid #cccccc;
  background: #fff;
  padding: 0;
  margin: 0;
  position: relative;
}
.table-of-contents ol::before {
  display: block;
  width: 100%;
  background: #009fe6;
  padding: 1.5rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff;
  content: "目次";
}
@media (max-width: 767px) {
  .table-of-contents ol::before {
    background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
    line-height: 133%;
  }
}
.table-of-contents ol li {
  border-top: 0.1rem solid #cccccc;
  padding: 1.6rem;
  list-style: none;
}
.table-of-contents ol li a {
  color: #333;
  font-size: 1.4rem;
  line-height: 150%;
  display: block;
  padding-left: 1.2rem;
  text-decoration: none;
  transition: opacity 0.3s;
}
@media (min-width: 768px) {
  .table-of-contents ol li a:hover {
    opacity: 0.6;
  }
}
.table-of-contents ol li a b {
  font-size: 1.6rem;
  color: #009fe6;
  font-weight: bold;
  display: block;
  width: calc(100% + 1.2rem);
  margin-left: -1.2rem;
  padding-left: 1em;
  text-indent: -1em;
}
.table-of-contents ol li a + a {
  margin-top: 0.4rem;
}

.notice-foot {
  text-align: center;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .notice-foot {
    margin-top: 8rem;
  }
}

.btn__back {
  padding: 0.1rem;
  width: 17.8rem;
  height: 3.4rem;
  border-radius: 2rem;
  overflow: hidden;
  display: inline-block;
  background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
}
.btn__back span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 150%;
  color: #009fe6;
  transition: opacity 0.3s;
  box-sizing: border-box;
}
.btn__back span::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4rem 0.8rem 0.4rem 0;
  border-color: transparent #009fe6 transparent transparent;
}
@media (min-width: 768px) {
  .btn__back span:hover {
    opacity: 0.8;
  }
}