@charset "UTF-8";
.page-head {
  background: url(../img/pico/bg01.jpg) no-repeat center center/cover;
  padding: 2rem 0;
  margin-top: 3.5rem;
}
@media (max-width: 767px) {
  .page-head {
    margin-top: 7.5rem;
  }
}
@media (max-width: 767px) {
  .page-head .inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page-head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .page-head__content {
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (max-width: 767px) {
  .page-head__text {
    width: 100%;
  }
}

.page-head__subtitle {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  background: #009FE6;
  display: inline-block;
}

.page-head__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 170%; /* 6.8rem */
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1.7rem;
}
@media (max-width: 767px) {
  .page-head__title {
    font-size: 3.2rem;
  }
}

.page-head__description {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;
  position: relative;
}
.page-head__description::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  width: 4rem;
  height: 0.2rem;
  bottom: 0;
  left: 0;
}

.page-head__image {
  width: 48rem;
}
@media (max-width: 767px) {
  .page-head__image {
    width: 100%;
  }
}

.page-nav__menu {
  display: flex;
  gap: 3.4rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .page-nav__menu {
    margin-top: 0.3rem;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.page-nav__menu-btn {
  width: 2rem;
  height: 1.6rem;
  position: relative;
  background-color: transparent;
}
.page-nav__menu-btn span {
  width: 2rem;
  height: 0.1rem;
  background-color: #333;
  position: absolute;
  left: 0;
}
.page-nav__menu-btn span:nth-of-type(1) {
  top: 0;
}
.page-nav__menu-btn span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.page-nav__menu-btn span:nth-of-type(3) {
  bottom: 0;
}

.page-nav__accordion {
  padding: 1.2rem;
  gap: 0.8rem;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .page-nav__accordion {
    display: grid;
  }
}

.page-nav__accordion-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem;
  color: #333;
  font-size: 1.6rem;
  border: 1px solid #d9d9d9;
  position: relative;
}
.page-nav__accordion-link::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-right: 2px solid #009FE6;
  border-bottom: 2px solid #009FE6;
  transform: rotate(-45deg);
}

.page-nav__menu-btn.is-open {
  position: relative;
}
.page-nav__menu-btn.is-open span {
  opacity: 0;
}
.page-nav__menu-btn.is-open::after {
  content: "^";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #009FE6;
  font-size: 1.6rem;
  line-height: 1;
}

.page-nav__menu-title {
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
}

.campaign {
  padding: 4.7rem 0;
}
@media (max-width: 767px) {
  .campaign {
    padding: 4rem 0;
  }
}

.campaign__content {
  background-color: #E7EBE9;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #009FE6;
}
@media (max-width: 767px) {
  .campaign__content {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.campaign__image {
  width: 24.1rem;
  height: 24.1rem;
}
@media (max-width: 767px) {
  .campaign__image {
    width: 31rem;
    height: 31rem;
  }
}
.campaign__image img {
  height: 100%;
}
@media (max-width: 767px) {
  .campaign__image {
    width: 100%;
  }
}

.campaign__info {
  width: 63.9rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .campaign__info {
    width: 100%;
  }
}

.campaign__title {
  padding: 1.1rem 0;
  background: #DFF5FF;
  color: #666;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8rem; /* 90% */
  letter-spacing: 0.219rem;
  font-family: "Noto Sans JP";
}

.campaign__details {
  background: #FFF;
  padding: 2rem 4rem;
}
@media (max-width: 767px) {
  .campaign__details {
    padding: 2rem 1rem;
    padding-bottom: 3.2rem;
  }
}

.campaign__description {
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.3916rem;
  font-weight: 400;
  line-height: 1.46rem; /* 104.918% */
  letter-spacing: 0.219rem;
  border-radius: 0.5rem;
  border: 1px solid #009FE6;
  text-align: center;
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1.16rem;
}

.campaign__pricing {
  margin-top: 4.4rem;
}
@media (max-width: 767px) {
  .campaign__pricing {
    margin-top: 1rem;
  }
}

.campaign__price-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1.2rem;
  position: relative;
  background-color: #F9FDFF;
}
@media (max-width: 767px) {
  .campaign__price-item:nth-of-type(2) {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .campaign__price-item {
    flex-direction: column;
  }
}
.campaign__price-item::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #009FE6;
  border-radius: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
@media (max-width: 767px) {
  .campaign__price-item::after {
    top: 0.4rem;
    transform: none;
  }
}

.campaign__service-name {
  color: #241000;
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46rem; /* 104.286% */
  letter-spacing: 0.219rem;
}

.campaign__price {
  color: #C40000;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.219rem;
}
@media (max-width: 767px) {
  .campaign__price {
    margin-top: 0.7rem;
  }
}
.campaign__price span {
  font-size: 1rem;
}

.page-nav__list {
  display: grid;
  gap: 1.05rem 1.1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 3.1rem;
}
@media (max-width: 767px) {
  .page-nav__list {
    display: none;
  }
}

.page-nav__link {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  height: 6.7rem;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  position: relative;
}
.page-nav__link:nth-of-type(1) {
  border-left: none;
}
.page-nav__link:nth-of-type(5) {
  border-left: none;
}
.page-nav__link::after {
  content: "";
  position: absolute;
  background: url(../img/pico/line.png) no-repeat center center/cover;
  width: 1.14rem;
  height: 0.712rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.759rem;
}

.banner__inner {
  max-width: 105.4rem;
  margin-inline: auto;
  margin-block-start: 1rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.4rem;
}
.banner__inner img {
  object-fit: contain;
  height: auto;
}
@media (max-width: 767px) {
  .banner__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

.campaign-removal {
  background: #FFF;
  box-shadow: 0 4px 10px 0 #CCC;
}

.campaign-removal__inner {
  max-width: 104rem;
  margin-inline: auto;
  margin-block-start: 1rem;
  padding-block: 4rem;
  padding-inline: 2rem;
}
.campaign-removal__inner img {
  object-fit: contain;
  height: auto;
}
@media (max-width: 767px) {
  .campaign-removal__inner {
    padding-block: 1.2rem;
    padding-inline: 1rem;
  }
}

.about {
  padding-bottom: 8rem;
  margin-top: 1.8rem;
}
@media (max-width: 767px) {
  .about {
    padding-bottom: 4rem;
  }
}

.about__inner {
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 8.8rem;
}
@media (max-width: 767px) {
  .about__inner {
    flex-direction: column;
    gap: 4rem;
  }
}

.about__image {
  width: 42rem;
  height: 32.3rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .about__image {
    width: auto;
    height: 29.9rem;
  }
}

.about__text {
  padding-top: 8rem;
  width: 71rem;
}
@media (max-width: 767px) {
  .about__text {
    width: auto;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.page-title__title {
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Cormorant SC";
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 6.4rem */
  padding-bottom: 1rem;
  position: relative;
}
.page-title__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background-color: #0AA4E8;
}

.page-title__subtitle {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 1rem;
}

.about__description {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 2rem;
}
.about__description p:nth-of-type(n+2) {
  margin-top: 2rem;
}
.about__description p span {
  font-weight: bold;
}

.merit {
  padding: 9rem 0;
  background-color: #F4FEFB;
}
@media (max-width: 767px) {
  .merit {
    padding: 4rem 0;
  }
}

.head-title {
  text-align: center;
}
.head-title .page-title {
  display: inline-block;
  text-align: left;
}
.head-title .page-title__subtitle {
  text-align: left;
}

.merit__title {
  text-align: center;
}

.merit__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 3.4rem 8.35rem;
  background-color: #fff;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .merit__content {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
  }
}

@media (max-width: 767px) {
  .merit__text {
    width: 100%;
    order: 2;
  }
}

.merit__item {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  padding-left: 2.6rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 2px dotted #ccc;
  width: 38.9rem;
}
@media (max-width: 767px) {
  .merit__item {
    width: auto;
  }
}
.merit__item:nth-of-type(n+2) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.merit__item::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check.png) no-repeat center center/cover;
  width: 1.6rem;
  height: 1.6rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.merit__image {
  width: 36.4rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .merit__image {
    width: auto;
    order: 1;
  }
}

.feature {
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .feature {
    padding: 4rem 0;
  }
}

.feature__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12rem 3rem;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .feature__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}

.feature__title {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  line-height: 170%; /* 3.4rem */
  margin-top: 2rem;
}

.feature__text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 0.8rem;
}

.feature__text-content {
  padding-left: 2rem;
  border-left: 1px solid #009FE6;
}

.comparison {
  background: linear-gradient(180deg, #FFF 0%, rgba(223, 245, 255, 0.5) 100%);
  padding-top: 5.3rem;
  padding-bottom: 3.8rem;
}

.comparison__inner {
  max-width: 103.4rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.comparison__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .comparison__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

.comparison__item {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  border: 1px solid #02506F;
  border-radius: 1rem;
}

.comparison__device-name {
  height: 7rem;
  background-color: #009FE6;
  padding-left: 9.8rem;
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 3.4rem */
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .comparison__device-name {
    padding-left: 0;
    justify-content: center;
  }
}
.comparison__device-name::after {
  content: "";
  position: absolute;
  background: url(../img/pico/news.png) no-repeat center center/cover;
  width: 5rem;
  height: 5rem;
  top: 0.2rem;
  left: 0.2rem;
}

.comparison__specs {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.comparison__spec-label {
  background: linear-gradient(90deg, #B78F36 0%, #CAAB66 45%, #987F47 100%);
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  padding: 0.4rem 0;
  line-height: 170%; /* 2.72rem */
}

.comparison__spec-value {
  color: #444;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  margin: 1rem 0;
}

.comparison__item--old .comparison__device-name {
  padding-left: 0;
  text-align: center;
  justify-content: center;
  color: #444;
  background: linear-gradient(90deg, #FAFAFC 21.32%, #F0F0F0 78.82%);
}
.comparison__item--old .comparison__device-name::after {
  display: none;
}
.comparison__item--old .comparison__spec-label {
  background: #CCC;
}
.comparison__item--old .comparison__feature {
  color: #6F6F6F;
}

.comparison__features {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .comparison__features {
    margin-top: 0;
  }
}

.comparison__feature {
  color: #AF9454;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 170%; /* 2.72rem */
  text-align: left;
  padding-left: 6rem;
  position: relative;
}
.comparison__feature::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check01.png) no-repeat center center/cover;
  width: 3rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.comparison__feature:nth-of-type(n+2) {
  margin-top: 1.3rem;
}

.comparison__wavelength {
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid #009FE6;
  background: #FFF;
  padding: 4rem 3rem;
}
@media (max-width: 767px) {
  .comparison__wavelength {
    padding: 2rem;
  }
}

.comparison__wavelength-title {
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  display: flex;
  padding: 0.8rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%; /* 2.4rem */
}

.comparison__wavelength-content {
  margin-top: 4rem;
  display: flex;
  gap: 5rem;
}
@media (max-width: 767px) {
  .comparison__wavelength-content {
    flex-direction: column;
  }
}

.comparison__wavelength-image {
  width: 31.3rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .comparison__wavelength-image {
    width: 100%;
  }
}

.comparison__wavelength-item:nth-of-type(n+2) {
  margin-top: 2rem;
}

.comparison__wavelength-name {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  line-height: 170%; /* 3.4rem */
  padding-left: 3.5rem;
  text-align: left;
  position: relative;
}
.comparison__wavelength-name::after {
  content: "";
  position: absolute;
  background: url(../img/pico/check01.png) no-repeat center center/cover;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
@media (max-width: 767px) {
  .comparison__wavelength-name::after {
    transform: none;
    top: 0;
  }
}

.comparison__wavelength-description {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  margin-top: 1rem;
  text-align: left;
}

.effect {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background: linear-gradient(180deg, #FFF 0%, rgba(223, 245, 255, 0.5) 100%);
}

.effect__content {
  margin-top: 7.16rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.5rem 1.8rem;
}
@media (max-width: 767px) {
  .effect__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

.effect__item {
  border-radius: 1.6rem;
  border: 2px solid #0AA4E8;
  background: #FFF;
  padding-left: 0.84rem;
  padding-right: 0.86rem;
  padding-bottom: 1.98rem;
}
.effect__number {
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  stroke-width: 1px;
  stroke: #0AA4E8;
  color: #FFF;
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 400;
  font-variant: all-small-caps;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 9.648rem;
  height: 9.648rem;
  border-radius: 50%;
  margin-left: auto;
  margin-top: -5.16rem;
  margin-right: auto;
  font-family: Aboreto;
  margin-bottom: 3.35rem;
  padding-top: 1.1rem;
}

.effect__title {
  color: var(--333, #333);
  text-align: center;
  font-family: "Zen Old Mincho";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3rem */
  letter-spacing: 0.08rem;
  margin-top: 1rem;
}

.effect__text {
  color: #333;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 1rem;
}

.case-after {
  padding-top: 13rem;
  padding-bottom: 9rem;
}
@media (max-width: 767px) {
  .case-after {
    padding-bottom: 4rem;
  }
}

.flow {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url(../img/pico/flow-bg.jpg) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .flow {
    padding-bottom: 4rem;
  }
}

.flow__content {
  margin-top: 4rem;
  padding: 4rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .flow__content {
    padding: 4rem 1rem;
    margin-top: 2.3rem;
  }
}

.flow__image {
  width: 20rem;
  flex-shrink: 0;
}
.flow__image img {
  object-fit: contain;
}
@media (max-width: 767px) {
  .flow__image {
    margin-left: auto;
    margin-right: auto;
  }
}

.flow__step {
  color: #009FE6;
  font-family: "Cormorant SC";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.8rem */
  letter-spacing: 0.144rem;
  text-align: left;
}

.flow__title {
  color: #444;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.4rem */
  margin-top: 2.4rem;
  text-align: left;
}

.flow__description {
  color: #444;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem; /* 200% */
  text-align: left;
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .flow__description {
    line-height: 170%;
  }
}

.flow__item {
  display: flex;
  align-items: center;
  gap: 5.8rem;
  position: relative;
}
@media (max-width: 767px) {
  .flow__item {
    gap: 1rem;
  }
}
.flow__item::after {
  content: "";
  position: absolute;
  background: url(../img/pico/triangle.png) no-repeat center center/cover;
  width: 3rem;
  height: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4.6rem;
}
.flow__item:nth-of-type(n+2) {
  margin-top: 6rem;
}
@media (max-width: 767px) {
  .flow__item:nth-of-type(n+2) {
    margin-top: 7.4rem;
  }
}
@media (max-width: 767px) {
  .flow__item {
    flex-direction: column;
  }
}
.flow__item:last-of-type::after {
  display: none;
}

.about-page {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .about-page {
    padding-top: 3.5rem;
    padding-left: 1.6rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .about-page .page-title {
    padding-left: 0;
  }
}

.about-page__inner {
  max-width: 115.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .about-page__inner {
    padding-left: 0;
    padding-right: 2rem;
  }
}

.about-page__content {
  margin-top: 4rem;
  border: 1px solid #6F6F6F;
}
@media (max-width: 767px) {
  .about-page__content {
    margin-top: 2rem;
  }
}

.about-page__title {
  color: #6F6F6F;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  background: #F9FDFF;
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-right: 1px solid #6F6F6F;
  border-bottom: 1px solid #6F6F6F;
}
@media (max-width: 767px) {
  .about-page__title {
    width: 100%;
    border-right: none;
    padding: 1rem 0;
  }
}

.about-page__text {
  padding: 1rem 2rem;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  border-bottom: 1px solid #6F6F6F;
  width: 100%;
}

.about-page__item {
  display: flex;
}
@media (max-width: 767px) {
  .about-page__item {
    flex-direction: column;
  }
}
.about-page__item:nth-of-type(4) .about-page__text {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
.about-page__item:last-of-type .about-page__title {
  border-bottom: none;
}
.about-page__item:last-of-type .about-page__text {
  border-bottom: none;
}

.about-page__list-item {
  padding-left: 2.4rem;
  position: relative;
}
.about-page__list-item::after {
  content: "・";
  position: absolute;
  color: #333;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 2.72rem */
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .about-page__list-item::after {
    top: 0;
    transform: none;
  }
}

.price {
  padding-top: 8.7rem;
  padding-bottom: 9rem;
  background: #F9FDFF;
}
@media (max-width: 767px) {
  .price {
    padding-top: 3.7rem;
  }
}

.price__inner {
  max-width: 89.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.price__description {
  height: 8rem;
  background: #DFF5FF;
  color: #009FE6;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .price__description {
    background: rgba(233, 241, 247, 0.3);
    height: 4rem;
  }
}

.price__table {
  border: 1px solid #ccc;
}

.price__item {
  height: 9.1rem;
  display: flex;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .price__item {
    height: auto;
  }
}
.price__item:nth-of-type(2) {
  border-bottom: none;
}
@media (max-width: 767px) {
  .price__item {
    flex-direction: column;
  }
}

.price__treatment-name {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  padding-left: 4rem;
  width: 55rem;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .price__treatment-name {
    width: 100%;
    background: #E9F1F7;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
}

.price__list-wrapper {
  padding: 1.3rem 0rem 1.9rem 2.7rem;
  width: 100%;
  height: 100%;
}

.price__list-item {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  text-align: left;
}
.price__list-item:nth-of-type(n+2) {
  margin-top: -0.5rem;
}

.price__list-item--last .price__label {
  width: 14.1rem;
}

.price__label {
  font-size: 1.6rem;
  display: inline-block;
  width: 5.6rem;
}

.price__currency, .price__unit-currency {
  font-size: 1.1667rem;
}

.price__unit-price {
  display: inline-block;
  margin-left: 1.6rem;
}

.price__price {
  font-size: 2rem;
  display: inline-block;
  margin-left: 1.7rem;
}

.faq {
  padding-top: 9rem;
  padding-bottom: 6rem;
  background-color: #FAFAFA;
}
@media (max-width: 767px) {
  .faq {
    padding-top: 4.2rem;
    padding-bottom: 2rem;
  }
}

.faq__content {
  margin-top: 4rem;
  padding-bottom: 3.2rem;
}
@media (max-width: 767px) {
  .faq__content {
    margin-top: 3rem;
  }
}

.faq__item {
  background-color: #fff;
}
.faq__item:nth-of-type(n+2) {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .faq__item:nth-of-type(n+2) {
    margin-top: 1.8rem;
  }
}
.faq__item:last-of-type {
  padding-bottom: 0;
}

.faq__question {
  padding-top: 3.2rem;
  padding-bottom: 2.9rem;
  border-bottom: 1px solid #ccc;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: pointer;
}
@media (max-width: 767px) {
  .faq__question {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-right: 6.2rem;
    display: flex;
    align-items: center;
  }
}
.faq__question::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  width: 0.2rem;
  height: 1.8rem;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}
.faq__question::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  width: 1.8rem;
  height: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.faq__q-mark {
  display: inline-block;
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-weight: 400;
  line-height: 140%; /* 2.8rem */
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2.4rem;
}
@media (max-width: 767px) {
  .faq__q-mark {
    display: block;
  }
}

.faq__answer {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  padding-top: 3.4rem;
  padding-bottom: 3.2rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%; /* 2.56rem */
  justify-content: center;
  gap: 1.6rem;
  display: none;
}
@media (max-width: 767px) {
  .faq__answer {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.faq__a-mark {
  display: block;
  font-family: "Cormorant Garamond";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 2.52rem */
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq__item.is-open .faq__question::before {
  opacity: 0;
}
.faq__item.is-open .faq__answer {
  display: flex;
  justify-content: flex-start;
}

.cause {
  padding-top: 9rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .cause {
    padding-top: 4rem;
  }
}

.cause__list {
  padding: 2rem 0;
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 6.4rem;
}
@media (max-width: 767px) {
  .cause__list {
    margin-top: 4.4rem;
  }
}

.cause__item:nth-of-type(n+2) {
  margin-top: 3.6rem;
}
@media (max-width: 767px) {
  .cause__item:nth-of-type(n+2) {
    margin-top: 2.4rem;
  }
}

.cause__item-title {
  color: #009FE6;
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding: 1rem 3rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.cause__item-text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .cause__item-text {
    margin-top: 2.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.cause__item--with-image {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.reason__row {
  margin-top: 4.8rem;
}
@media (max-width: 767px) {
  .reason__row {
    margin-top: 2.3rem;
    margin-left: 2.1rem;
    margin-right: 2.1rem;
  }
}

.reason__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 767px) {
  .reason__item {
    flex-direction: column;
  }
}

.reason__item-image {
  width: 35.2rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .reason__item-image {
    width: 100%;
  }
}

.reason__item-title {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%; /* 2.4rem */
  padding-bottom: 0.8rem;
  position: relative;
}
.reason__item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.8rem;
  height: 0.2rem;
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
}

.reason__item-text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 1.6rem;
}
.reason__item-text:nth-of-type(2) {
  font-size: 1.4rem;
}

.reason__row--with-image .reason__item-image {
  order: 2;
}
.reason__row--with-image .reason__item-content {
  order: 2;
}

.comparison__wavelength-features {
  margin-top: 1rem;
}

.comparison__wavelength-feature {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  text-align: left;
}

.comparison__content-title {
  color: #009FE6;
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
  margin-top: 3rem;
}

.comparison__spec-value-text {
  color: #009FE6;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%; /* 2.7rem */
  margin-top: 1rem;
}

.price__inner-wrapper--laser .price__treatment-name {
  max-width: 35rem;
  width: 35rem;
}
.price__inner-wrapper--laser .price__list-wrapper01 {
  max-width: 28rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  padding-left: 0;
  border-top: none;
}
@media (max-width: 767px) {
  .price__inner-wrapper--laser .price__list-wrapper01 {
    max-width: 100%;
    width: 100%;
  }
}
.price__inner-wrapper--laser .price__list-wrapper02 {
  max-width: 37rem;
  width: 37rem;
  color: var(--, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price__inner-wrapper--laser .price__list-wrapper02 span {
  font-size: 1.1667rem;
}
.price__inner-wrapper--laser .price__item {
  border-bottom: none;
}
.price__inner-wrapper--laser .price__treatment-name {
  border-right: none;
}

.price__description02 {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  text-align: left;
}
@media (max-width: 767px) {
  .price__description02 {
    padding-left: 1.5rem;
  }
}

.price__list-wrapper01 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  padding-left: 4rem;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

.price__option {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .price__option {
    margin-top: 0;
  }
}

.price__option-title {
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9F1F7;
  color: #009FE6;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 767px) {
  .price__option-title {
    display: none;
  }
}

.price__option-item {
  display: flex;
  height: 9rem;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
@media (max-width: 767px) {
  .price__option-item {
    flex-direction: column;
    height: auto;
  }
}

.price__option-name {
  max-width: 63rem;
  width: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07rem;
  border-right: 1px solid #CCC;
}
@media (max-width: 767px) {
  .price__option-name {
    max-width: 100%;
    height: 7rem;
    width: 100%;
    background-color: #E9F1F7;
  }
}

.price__option-price {
  max-width: 37rem;
  width: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .price__option-price {
    max-width: 100%;
    width: 100%;
    height: 8rem;
  }
}
.price__option-price span {
  font-size: 1.1667rem;
}

.price__tabs {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .price__tabs {
    margin-top: 2.7rem;
  }
}

.price-tabs__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.price-tabs__tab {
  height: 5.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
  font-family: "Noto Serif JP";
  background: #DDD;
}

.price-tabs__tab.is-active {
  background-color: #009FE6;
}

.price-panel-header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 3rem;
  background: #009FE6;
}

.price-panel-title {
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 170%; /* 2.72rem */
  letter-spacing: 0.16rem;
}

.price-panel-reserve-link {
  border: 1px solid #FFF;
  width: 19.9rem;
  height: 3.6rem;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  padding-left: 1.7rem;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .price-panel-reserve-link {
    display: none;
  }
}
.price-panel-reserve-link::after {
  content: "";
  position: absolute;
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%; /* 1.92rem */
  width: 4.2862rem;
  height: 0.1rem;
  background-color: #fff;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.price-panel-list {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.price-panel-list-title {
  height: 9rem;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  color: #009FE6;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 767px) {
  .price-panel-list-title {
    height: 7.1rem;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
}

.price-panel-item {
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 767px) {
  .price-panel-item {
    height: auto;
    flex-direction: column;
  }
}
.price-panel-item:nth-of-type(n+2) {
  border-top: 1px solid #CCC;
}

.price-panel-item-desc {
  width: 63rem;
  max-width: 63rem;
  text-align: left;
  padding-left: 4rem;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #CCC;
  flex-direction: column;
}
@media (max-width: 767px) {
  .price-panel-item-desc {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
    height: auto;
    background-color: #E9F1F7;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.price-panel-item-label {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}
.price-panel-item-price {
  width: 37rem;
  max-width: 37rem;
  color: #333;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .price-panel-item-price {
    height: 8rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.price-panel-item-price span {
  font-size: 1.2rem;
}

.mt182 {
  margin-top: 18.2rem;
}
@media (max-width: 767px) {
  .mt182 {
    margin-top: 0;
  }
}

.border-bottom {
  border-bottom: 1px solid #CCC;
}

.w100 {
  max-width: 100%;
  font-size: 1.4rem;
  color: #333;
}

.mt24 {
  margin-top: 2.4rem;
}

.center {
  width: 100%;
  text-align: center;
}
.center span {
  display: inline-block;
  text-align: left;
}

.border-none {
  border-top: none;
}

.mt0 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .mt0 {
    margin-top: 3rem;
  }
}

.price__title {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  height: 5.4rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0AA4E8;
  background: linear-gradient(90deg, #E9F1F7 0%, #F0F5F5 100%);
}
@media (max-width: 767px) {
  .price__title {
    padding-left: 0;
    justify-content: center;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
}

.removal .page-head__title {
  margin-top: 0;
  padding-bottom: 2.4rem;
  position: relative;
}
.removal .page-head__title::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  bottom: 0;
  left: 0;
}
.removal .comparison__wavelength-description--first {
  margin-top: 0;
}
.removal .comparison__wavelength-name--first {
  margin-top: 1.45rem;
}
@media (max-width: 767px) {
  .removal .comparison__wavelength-content02 .comparison__wavelength-item {
    order: 2;
  }
}
@media (max-width: 767px) {
  .removal .comparison__wavelength-content02 .comparison__wavelength-details {
    order: 1;
  }
}
.removal .comparison__device-name::after {
  display: none;
}
.removal .about {
  padding-bottom: 3rem;
}
.removal .merit__item {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .removal .merit__item {
    white-space: normal;
  }
}
.removal .feature {
  padding-top: 9rem;
}
@media (max-width: 767px) {
  .removal .feature {
    padding-top: 4rem;
  }
}
.removal .feature__content {
  gap: 2.6rem 3rem;
}
@media (max-width: 767px) {
  .removal .feature__content {
    gap: 5.3rem 3rem;
  }
}
.removal .comparison__inner {
  max-width: 84rem;
}
.removal .comparison__wavelength-title {
  margin-top: 1.9rem;
}
.removal .comparison__wavelength-image {
  width: 27.3rem;
}
@media (max-width: 767px) {
  .removal .comparison__wavelength-image {
    width: 30.8rem;
  }
}
.removal .comparison__wavelength-content {
  gap: 2rem;
  margin-top: 0;
}
.removal .comparison__wavelength {
  padding: 2rem 3rem;
}
@media (max-width: 767px) {
  .removal .comparison__wavelength {
    padding: 2rem;
  }
}
.removal .comparison__wavelength-item:nth-of-type(n+2) {
  margin-top: 0.7rem;
}

.removal .comparison__wavelength-name--first {
  margin-top: 1.1rem;
}

.comparison__wavelength-feature {
  padding-left: 3.1rem;
  position: relative;
}
.comparison__wavelength-feature::after {
  content: "・";
  position: absolute;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  line-height: 170%; /* 3.4rem */
  top: 0;
  left: 0;
}

.comparison__device-name {
  padding-left: 0;
  justify-content: center;
}

.comparison__item {
  padding-bottom: 2rem;
}

.comparison {
  padding-bottom: 9.8rem;
}
@media (max-width: 767px) {
  .comparison {
    padding-bottom: 6.8rem;
  }
}

.effect__item {
  padding-bottom: 4.98rem;
}

.flow__image {
  width: 21rem;
}

.flow__content {
  padding: 4.4rem;
}
@media (max-width: 767px) {
  .flow__content {
    padding: 4.4rem 2rem;
  }
}

.flow__item {
  gap: 5rem;
}
@media (max-width: 767px) {
  .flow__item {
    gap: 1rem;
  }
}

.about-page__item:nth-of-type(2) {
  height: 18.2rem;
}
@media (max-width: 767px) {
  .about-page__item:nth-of-type(2) {
    height: auto;
  }
}
.about-page__item:nth-of-type(6) {
  height: 6.8rem;
}
@media (max-width: 767px) {
  .about-page__item:nth-of-type(6) {
    height: auto;
  }
}

@media (max-width: 767px) {
  .about {
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  .about__image {
    margin-left: 2rem;
  }
}

@media (max-width: 767px) {
  .reason__item--with-image .reason__item-content {
    order: 2;
  }
}
@media (max-width: 767px) {
  .reason__item--with-image .reason__item-image {
    order: 1;
  }
}

@media (max-width: 767px) {
  .page-head {
    margin-top: 9.1rem;
  }
  .page-head .inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 767px) {
  .page-head__title {
    font-size: 4rem;
  }
  .page-nav__menu {
    margin-top: 0.8rem;
  }
  .about__inner {
    gap: 1.7rem;
  }
  .merit {
    padding-top: 4.8rem;
  }
  .merit__content {
    margin-top: 2rem;
  }
  .merit__content {
    gap: 2rem;
  }
  .feature {
    padding-top: 4rem;
  }
  .feature__content {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 4.6rem;
  }
  .comparison {
    padding-top: 2.3rem;
  }
  .effect {
    padding-top: 4rem;
  }
  .effect .inner {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  .effect__text {
    margin-top: 1.3rem;
  }
  .effect__content {
    gap: 7rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .effect__content {
    margin-left: 1.6rem;
    margin-right: 1.9rem;
  }
}
@media (max-width: 767px) {
  .case-after {
    padding-top: 7rem;
  }
  .case-after .title {
    font-size: 6.1rem;
  }
  .case__content {
    margin-top: 11.2rem;
  }
  .flow {
    padding-top: 4rem;
  }
}
@media (min-width: 768px) {
  .page-id-36 .price__item {
    height: 14rem;
  }
}

.cause-eye {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.cause-eye__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 6.4rem;
}
@media (max-width: 767px) {
  .cause-eye__about {
    grid-template-columns: 1fr;
  }
}

.cause-eye__about-title {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 170%; /* 34px */
  padding-left: 3.5rem;
  position: relative;
}
.cause-eye__about-title::after {
  content: "";
  position: absolute;
  background: url(../img/under-eye/check.png) no-repeat center center/cover;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.cause-eye__about-image {
  margin-top: 2rem;
}

.cause-eye__about-text {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%; /* 3.4rem */
  margin-top: 2rem;
}

.cause-eye__types {
  margin-top: 6.4rem;
}

.cause-eye__types-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.4rem;
}

.cause-eye__type {
  border: 1px solid #000;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.cause-eye__type-head {
  font-family: "Cormorant SC";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 2.4rem */
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 4rem;
}
.cause-eye__type-head span {
  font-size: 6.4rem;
  display: inline-block;
  margin-left: 1.8rem;
}

.cause-eye__type-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 180%; /* 2.4rem */
}

.cause-eye__types-group-2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
@media (max-width: 767px) {
  .cause-eye__types-group-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cause-eye__detail {
  margin-top: 13rem;
}

.cause-eye__detail-number {
  font-family: "Cormorant SC";
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%; /* 2.4rem */
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cause-eye__detail-number span {
  display: inline-block;
  font-size: 6.4rem;
  margin-left: 1.8rem;
}

.cause-eye__detail-title {
  color: #FFF;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 2.4rem */
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #0AA4E8 0%, #70D3FF 50%, #14AEF3 100%);
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  margin-top: 1rem;
  line-height: 1.6;
}

.cause-eye__detail-text {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.cause-eye__anatomy {
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .cause-eye__anatomy {
    max-width: none;
  }
}

.cause-eye__anatomy-box {
  margin-top: 5rem;
}

.cause-eye__anatomy-title {
  color: #009FE6;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 300;
  line-height: 170%; /* 3.4rem */
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #CCC;
}

.cause-eye__anatomy-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 4rem;
}

.cause-eye__anatomy-image {
  margin-top: 3.95rem;
}

.cause-eye__anatomy-desc-sub {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  margin-top: 4.02rem;
}

.case01__swiper {
  margin-top: 4rem;
  max-width: 80.8rem;
  margin-left: auto;
  margin-right: auto;
}
.case01__swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .case01__swiper .swiper-slide {
    flex-direction: column;
  }
}
.case01__swiper .swiper-wrapper {
  position: relative;
}
.case01__swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.case01__swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background-color: #999999;
}
.case01__swiper .swiper-pagination-bullet-active {
  background-color: #009FE6;
}

.case01__swiper-img-box {
  width: 11.4rem;
  height: 11.3rem;
  flex-shrink: 0;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.case01__swiper-text-box {
  width: 63.3rem;
  height: 24.1rem;
  position: relative;
  z-index: 2;
  padding-left: 2.7rem;
}
.case01__swiper-text-box::after {
  content: "";
  position: absolute;
  background: url(../img/under-eye/bg.png) no-repeat center center/cover;
  width: 65.4rem;
  height: 24.1rem;
  top: 0;
  left: -2.1rem;
  z-index: -1;
}

.case01__swiper-title {
  color: #333;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 200%; /* 3.2rem */
  padding-top: 2rem;
  width: 58.1rem;
}

.case01__swiper-desc {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 2.4rem */
  width: 58.1rem;
  margin-top: 0.2rem;
}

.case01__pagination {
  text-align: center;
  margin-top: 8rem;
}