$serif:"Noto Serif JP", serif;
$co:"Cormorant SC", serif;

$main-color:#072334;
$sub-color:#000;


//マップ型変数breakpointsを定義
$breakpoints: (
//キー値
  'sp': "(max-width: 767px)", //767px以下（スマホ）用の表示
//   'tab':"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  'pc': "(min-width: 768px)"//768px以上（タブレット・PC）用の表示

);

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

.campaigns {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq('sp') {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.campaigns__tabs {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  width: 100%;

  @include mq('sp') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .4rem 1rem;
  }
}

.campaigns__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.9rem;
  background: #DDDDDD;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  user-select: none;
  transition: background .2s ease, color .2s ease;
  font-family: $serif;
  width: 100%;

  @include mq('sp') {
      font-size: 1.6rem;
      height: 5.9rem;
  }
}

.campaigns__tab:not(.is-active):hover {
  background: #F2F5F8;
}

.campaigns__tab.is-active {
  background-color: #009FE6;
  color: #FFF;
}

.campaigns__body {
  border: .2rem solid #009FE6;
  background: #F8F8F8;
  padding: 1.8rem;
}

.campaigns__panels {
  position: relative;
}

.campaigns__panel[hidden] { display: none; }
.campaigns__panel.is-active { display: block; }

.campaigns-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.campaigns-list__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem 0;
  border-bottom: .1rem solid #009FE6;
  @include mq('sp') {
    display: block;
    padding: 2rem;
  }
} 

.campaigns-list__image {
  width: 30rem;
  aspect-ratio: 1 / 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include mq('sp') {
    width: 100%;
  }
}

.campaigns-list__info {
  width: calc(100% - 32rem);
  @include mq('sp') {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
  }
}

.campaigns-list__date {
  font-size: 1.4rem;
  line-height: 121.42857%;
  color: #999999;
  letter-spacing: .064em;
  font-weight: 400;
  font-family: $co;
  @include mq('sp') {
    text-align: center;
  }
}

.campaigns-list__category {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  li {
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 500;
    padding: .4rem .8rem;
    color: #fff;
    background: #009FE6;
  }
  @include mq('sp') {
    margin-top: .8rem;
    gap: .8rem;
    justify-content: center;
    align-items: center;
  }
}

.campaigns-list__title {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 500;
  color: #333;
  @include mq('sp') {
    margin-top: .8rem;
  }
}

.campaigns-list__text {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 500;
  color: #333;
}

.campaigns-list__treatment {
  margin-top: 2rem;
  &--title {
    background: linear-gradient(90deg, #E9F1F7 0%, #F0F5F5 100%);
    border-bottom: .1rem solid #009FE6;
    font-size: 1.4rem;
    line-height: 121.42857%;
    font-weight: 500;
    color: #333;
    text-align: center;
    padding: .4rem;
    width: 100%;
  }
  &--menu {
    margin-top: 2rem;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.15rem;
    .btn {
      width: 100%;
      padding-right: 6.4rem;
      height: 3.6rem;
      font-size: 1.6rem;
      line-height: 120%;
      font-family: $serif;
      padding-left: 1.7rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include mq('sp') {
        padding-right: 5rem;
      }
    }
    @include mq('sp') {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      width: 100%;
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
    }
  }
}