$serif:"Noto Serif JP", serif;
$co:"Cormorant SC", serif;

$main-color:#072334;
$sub-color:#000;


//マップ型変数breakpointsを定義
$breakpoints: (
//キー値
  'sp': "(max-width: 767px)", //767px以下（スマホ）用の表示
//   'tab':"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  'pc': "(min-width: 768px)"//768px以上（タブレット・PC）用の表示

);

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #333;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 2rem 2rem #fff;
}

select::-ms-expand {
  display: none;
}

input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check{
  display: none;
}

input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear{
  display: none;
}

select,
input[type=radio],
input[type=checkbox],
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=reset],
input[type=button],
input[type=submit],
textarea {
  appearance: none;
  border-radius: 0;
  font-family: $serif;
  outline: none;
}

input[type=reset],
input[type=button],
input[type=submit]  {
  font-family: $serif;
  cursor: pointer;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
	color: #ccc; 
} 
input:-moz-placeholder, 
textarea:-moz-placeholder { 
	color: #ccc; 
} 
input::-moz-placeholder, 
textarea::-moz-placeholder { 
	color: #ccc; 
} 
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
	color: #ccc; 
} 

.contact-wrap {
  padding: 8rem 0;
  .inner {
    max-width: 112rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 200%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4rem;
    @include mq('sp') {
      line-height: 180%;
    }
  }
  &__tel {
    background: url(../img/top/Contact-bg.jpg) no-repeat center center / cover;
    padding: 2rem 4.45rem;
    text-align: center;
    margin-bottom: 4rem;
    @include mq('sp') {
      width: calc(100% + 4rem);
      margin: 0 -2rem 4rem;
      padding: 4rem 2rem;
    }
    .contact__content {
      @include mq('sp') {
        margin-top: 2.4rem;
        gap: 1.6rem;
      }
    }
    .contact__text {
      font-size: 2.4rem;
      line-height: 150%;
      padding: 0 3.3rem .8rem;
      border-bottom: .1rem solid #009FE6;
      display: inline-block;
      @include mq('sp') {
        font-size: 1.5rem;
        padding: 0 0 .8rem;
      }
    }
    .contact__phone {
      @include mq('sp') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: 0;
        max-width: 27rem;
        margin: 0 auto;
      }
    }
    
  }
  &__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .1rem;
    margin-bottom: 4rem;
    @include mq('sp') {
      grid-template-columns: repeat(1,1fr);
      gap: 0;
    }
    &--item {
      background: #F9FDFF;
      padding: 2rem 1.6rem;
      font-size: 1.6rem;
      line-height: 170%;
      letter-spacing: .146rem;
      color: #009FE6;
      @include mq('sp') {
        min-height: 32.9rem;
      }
      h3 {
        background: #fff;
        border: .1rem solid #009FE6;
        text-align: center;
        font-size: 1.6rem;
        line-height: 116.25%;
        letter-spacing: .146rem;
        font-weight: 500;
        padding: 1rem;
        color: #009FE6;
        margin-bottom: 2rem;
      }
      .contact__reservation {
        margin: 2rem 0;
        height: 10rem;
        &-title {
          @include mq('sp') {
            font-size: 2.4rem;
            line-height: 150%;
            letter-spacing: .064em;
            font-weight: 400;
            gap: 2.4rem;
          }
        }
        &-desc {
          font-size: 1.6rem;
          line-height: 170%;
        }
      }
    }
  }
}

.contact-form {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
  margin-top: 6.6rem;
  @include mq('sp') {
    margin-top: 5.8rem;
    padding: 0 2rem;
  }
  &__item {
    padding: 2.4rem 0;
    border-bottom: .1rem solid #F7F7F7;
    display: flex;
    @include mq('sp') {
      display: block;
    }
    dt {
      width: 28rem;
      font-size: 1.8rem;
      line-height: 150%;
      color: #666;
      font-weight: 400;
      @include mq('sp') {
        width: 100%;
        margin-bottom: 1.6rem;
      }
      span {
        font-size: 1.4rem;
      }
      small {
        font-size: 1rem;
      }
    }
    dd {
      width: calc(100% - 28rem);
      font-size: 1.8rem;
      line-height: 150%;
      color: #666;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mq('sp') {
        width: 100%;
        display: block;
      }
    }
  }
  &__button {
    margin-top: 2.4rem;
    border-top: .1rem solid #F7F7F7;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    width: 100%;
    border: .1rem solid #666666;
    border-radius: .5rem;
    background: #fff;
    height: 4rem;
    padding: 0 2.4rem;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
  }
  textarea {
    height: 24rem;
    padding: 1.8rem 2.4rem;
    @include mq('sp') {
      height: 29.8rem;
    }
  }
  select {
    width: 8.8rem;
    border: .1rem solid #666666;
    border-radius: .5rem;
    background: url(../img/contact/icon_select.svg) right 2.4rem center no-repeat #fff;
    background-size: 1rem auto;
    height: 4rem;
    padding: 0 3.6rem 0 2.4rem;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    @include mq('sp') {
      width: 6.4rem;
      background-position: right .8rem center;
      padding: 0 1.6rem 0 .8rem;
    }
    &.is-large {
      width: 11rem;
      @include mq('sp') {
        width: 9rem;
      }
    }
    &.is-pref {
      width: 17rem;
    }
  }
}

.label-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: flex-start;
  &.is-vertical {
    flex-direction: column;
  }
  label {
    display: block;
    position: relative;
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    cursor: pointer;
    span {
      display: block;
      padding-left: 2.8rem;
      &::before {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        border: .1rem solid #666666;
        background: #fff;
        position: absolute;
        left: 0;
        top: .3rem;
        z-index: 1;
        content: '';
        box-sizing: border-box;
      }
      &::after {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: #666666;
        position: absolute;
        left: .5rem;
        top: .8rem;
        z-index: 2;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
      }
    }
    input[type=radio],
    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      &:checked + span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.contact-date {
  display: flex;
  align-items: center;
  gap: .8rem;
  &__item {
    display: flex;
    align-items: center;
    gap: .8rem;
    span {
      font-size: 1.8rem;
      line-height: 150%;
      font-weight: 400;
    }
  }
}

.contact-hope {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__item {
    width: 100%;
    &--title {
      font-size: 1.5rem;
      line-height: 150%;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &--text {
      font-size: 1.4rem;
      line-height: 150%;
      font-weight: 400;
    }
  }
}

.attention-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 8rem 0;
  @include mq('sp') {
    padding: 4rem 0;
  }
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(../img//contact/bg_attention.jpg) center center no-repeat;
    background-size: cover;
    opacity: .4;
    content: '';
  }
}

.attention-list {
  margin-top: 8.8rem;
  @include mq('sp') {
    margin-top: 7.2rem;
  }
  &__item {
    background: #fff;
    box-shadow: 0 .4rem 1rem 0 rgba(0, 159, 230, 0.2);
    padding: 4rem 5.6rem;
    font-size: 1.6rem;
    line-height: 187.5%;
    margin-top: 4rem;
    @include mq('sp') {
      margin-top: 2.4rem;
      padding: 4rem 2rem;
    }
  }
  .attention-notes {
    color: #009FE6;
    line-height: 170%;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }

}