$serif: "Noto Serif JP", serif;
$co: "Cormorant SC", serif;

$main-color: #072334;
$sub-color: #000;

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー値
  "sp": "(max-width: 767px)",
  //767px以下（スマホ）用の表示
  //   'tab':"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  "pc": "(min-width: 768px)" //768px以上（タブレット・PC）用の表示
);

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

.monitor__inner {
  max-width: calc(100rem + 2rem * 2);
  margin-inline: auto;
  padding-inline: 2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq(sp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.monitor__title {
  color: #333;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.096rem;
}

.monitor__text {
  color: #000;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.monitor__text--min {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.064rem;
}

.monitor__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  @include mq(sp) {
    grid-template-columns: 1fr;
    padding-inline: 2.2rem;
  }
}

.monitor__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
  height: 30.6rem;
  padding-right: 0.4rem;
  padding-left: 1.6rem;

  border: 2px solid #0aa4e8;
  background: #fff;

  @media screen and (max-width: 1020px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .center {
    text-align: center;
  }
}

.monitor__card--img {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 12rem;
  flex-shrink: 0;
  padding-top: 10px;

  img {
    width: 10.1rem;
    height: 10.1rem;
    object-fit: contain;
  }
}

.monitor__list {
  margin-top: 4rem;
}
