$serif: "Noto Serif JP", serif;
$co: "Cormorant SC", serif;

$main-color: #072334;
$sub-color: #000;

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー値
  "sp": "(max-width: 767px)",
  //767px以下（スマホ）用の表示
  //   'tab':"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  "pc": "(min-width: 768px)" //768px以上（タブレット・PC）用の表示
);

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

.notice-list__inner {
  max-width: calc(100rem + 2rem * 2);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  @include mq(sp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
  }
}

.notice-list__side {
  width: 16rem;
  @include mq(sp) {
    width: 100%;
    margin-top: 2.4rem;
  }
}

.notice-list__category__button {
  width: 100%;
  margin-bottom: 1.6rem;
  a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.064rem;
    line-height: 1;
    height: 4rem;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;

    @include mq(pc) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.notice-list__category__list {
  padding-top: 1.2rem;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.1rem;
    content: "";
    background: linear-gradient(88.17deg, #dc96a3 0.02%, #ba9cce 94.87%);
    @include mq(sp) {
      background: #009fe6;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
    margin-bottom: 1.2rem;
    background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    width: 100%;
    max-width: 13rem;
    li a {
      display: block;
      width: 100%;
      background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
      border-radius: 0.4rem;
      padding: 0.1rem;
      overflow: hidden;
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #fff;
        border-radius: 0.3rem;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.064rem;
        color: #333;
        line-height: 1.5;
        padding: 0.2rem;
      }
      @include mq(pc) {
        &:hover {
          opacity: 0.6;
        }
      }
    }
    li + li {
      margin-top: 0.8rem;
    }
  }
}

.notice-list__body {
  width: calc(100% - 20rem);
  @include mq(sp) {
    width: 100%;
  }
}

.notice-list__item {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #009fe6;

  @include mq("sp") {
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 2.4rem;
  }

  &:nth-of-type(n + 2) {
    padding-top: 3.2rem;

    @include mq("sp") {
      padding-top: 2.4rem;
    }
  }
}

.notice-list__image {
  width: 21rem;
  height: 13.6rem;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include mq("sp") {
    width: 100%;
    height: 20rem;
  }
}

.notice-list__info {
  width: calc(100% - 25rem);
  @include mq("sp") {
    width: 100%;
  }
}

.notice-list__meta {
  display: flex;
  align-items: center;
  gap: 2.6rem;

  @include mq("sp") {
    gap: 1.9rem;
  }
}

.notice-list__date {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 160%; /* 2.08rem */
  letter-spacing: 0.052rem;
}

.notice-list__category {
  display: flex;
  padding: 0.4rem 1.2rem;
  align-items: center;
  gap: 1rem;
  border: 1px solid #009fe6;
  color: #009fe6;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%; /* 1.5rem */
  letter-spacing: 0.06rem;

  @include mq("sp") {
    padding: 0.2rem 1rem;
  }
}

.notice-list__title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.08rem;
  margin-top: 0.3rem;
}

.notice-list__text {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 180%; /* 2.88rem */
  letter-spacing: 0.064rem;
  margin-top: 0.3rem;
}

.wp-pagenavi {
  width: calc(100% + 20rem);
  margin-left: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.6rem;
  margin-top: 4rem;
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  @include mq(sp) {
    width: 100%;
    margin-left: 0;
    margin-top: 2.4rem;
  }
  .pages,
  .last,
  .first {
    display: none;
  }
  a.page,
  span.current,
  span.extend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    line-height: 1;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(180deg, #0aa4e8 0%, #70d3ff 50%, #14aef3 100%);
  }
  a.page,
  span.extend {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .previouspostslink,
  .nextpostslink {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    font-size: 0;
  }
  .previouspostslink {
    background-image: url(../img/notice/icon_arrow.svg);
    transform: scaleX(-1);
    margin-left: 1.2rem;
  }
  .nextpostslink {
    background-image: url(../img/notice/icon_arrow.svg);
    margin-right: 1.2rem;
  }
}