
$serif:"Noto Serif JP", serif;
$co:"Cormorant SC", serif;

$main-color:#072334;
$sub-color:#000;


//マップ型変数breakpointsを定義
$breakpoints: (
//キー値
  'sp': "(max-width: 767px)", //767px以下（スマホ）用の表示
//   'tab':"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  'pc': "(min-width: 768px)"//768px以上（タブレット・PC）用の表示

);

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


.doctor-list__inner {
  max-width: calc(108rem + 2rem * 2);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq(sp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.doctor-list__title {
  max-width: 38.6rem;
}

.doctor-list__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  padding-top: 9rem;
  @media screen and (min-width:768px) and (max-width:1019px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(sp) {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }
}
.doctor-list__card {
  max-width: 32.8rem;
  @include mq(sp) {
    max-width: 100%;
  }
}
.doctor-list__card__img {
  @include mq(sp) {
    width: 100%;
    height: 100%;
  }
  img {
    @include mq(sp) {
      height: auto;
    }
  }
}
.doctor-list__card__info {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}
.doctor-list__card__info--place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
  p {
    color: #009FE6;
    font-size: 1rem;
    font-weight: 700;
    line-height: 180%;
  
    max-width: 5.4rem;
    padding: 0.2rem 1rem;
    border: 1px solid #009FE6;
    background: #FFF;
  }
}
.doctor-list__card__info--post {
  color: #444;
  font-family: "Shippori Mincho";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 1.2rem;
}
.doctor-list__card__info--name {
  color: #333;
  font-family: "Shippori Mincho";
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0.8rem;
}
.doctor-list__card__info--roman {
  color:  #CCC;
  text-align: right;
  font-family: "Cormorant SC";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
  // font-variant: all-small-caps;

  padding-right: calc(4rem / 32.4rem * 100%);
  margin-top: 0.8rem;
  position: relative;
  @include mq(sp) {
    margin-top: 0.6rem;
  }
  &::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 0.1rem;
    background: #AFAFAF;
    left: 0;
    top: 50%;
  }
}
.doctor-list__card__info--sns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem 0.4rem;
  margin-top: 1.2rem;
  .doctor-instagram,
  .doctor-x,
  .doctor-youtube,
  .doctor-blog {
    border-radius: 0.5rem;
    width: 14.5rem;
    min-height: 3.6rem;
    padding-inline: 2rem;
  }
  .doctor-instagram {
    position: relative;
    img {
      width: 2.6rem;
      height: 2.6rem;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
      border-radius: 0.5rem;
      background: linear-gradient(90deg, #F6C543 0%, #EB4C4E 47%, #6D1DF4 89.5%);
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 0.4rem);
      height: calc(100% - 0.4rem);
      top: 0.2rem;
      left: 0.2rem;
      z-index: -1;
      border-radius: 0.3rem;
      background: #fff;
    }
  }
  .doctor-x {
    border: 2px solid #000;
    p {
      padding-inline: 2rem;
    }
    img {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  .doctor-youtube {
    border: 2px solid #DA1725;
    img {
      width: 2.8rem;
      height: 2rem;
    }
  }
  .doctor-blog {
    border: 2px solid #000;
    justify-content: center;
  }
}
.doctor-list__card__info--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .4s ease-in-out;
  p {
    color: #444;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Noto Serif JP";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.56px;
  }
  img {
    width: auto;
    object-fit: contain;
  }
  @include mq(pc) {
    &:hover {
      opacity: .5;
    }
  }
}


// ------------------- Doctor Details Page -------------------
.doctor-details {
}
.doctor-details--sp-n {
  display: block;
  @include mq(sp) {
    display: none;
  }
}
.doctor-details--pc-n {
  display: none;
  @include mq(sp) {
    display: block;
    margin-top: 1.6rem;
  }
}

.doctor-details__inner {
  display: flex;
  flex-direction: row;
  gap: 8.4rem;
  max-width: calc(108rem + 2rem * 2);
  padding-inline: 2rem;
  margin-inline: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq(sp) {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 2.4rem;
  }
}

.doctor-details__left {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 46.4rem;
}

.doctor-details__left__img {
  img {
    border-radius: 1rem;
    height: auto;
  }
}

.doctor-details__left__strong {
  ul li {
    a {
      color: #333;
      font-family:  "Shippori Mincho", serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 200%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      transition: all .4s ease-in-out;
      @include mq(pc) {
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

.doctor-details__left__strong--title {
  color: #9FA2B7;
  font-family:  "Shippori Mincho", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 200%;
}

.doctor-details__right {
}

.doctor-details__right__clinic {
  color: #444;
  font-family: "Shippori Mincho";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}

.doctor-details__right__post {
  color: #444;
  font-family: "Shippori Mincho";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0.8rem;
}

.doctor-details__right__name {
  color: #333;
  font-family: "Shippori Mincho";
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0.8rem;
}

.doctor-details__right__roman {
  color: #CCC;
  font-family: "Cormorant SC";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  // font-variant: all-small-caps;
  padding-left: 15.9rem;
  margin-top: 0.7rem;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 14rem;
    height: 0.1rem;
    top: 50%;
    left: 0;
    background: #AFAFAF;
  }
}

.doctor-details__right__sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.4rem;
  margin-top: 1.6rem;
  a {
    transition: all .3s ease-in-out;
    @include mq(pc) {
      &:hover {
        opacity: .5;
      }
    }
  }
}

.doctor-details__right__sns--instagram {
  width: 2rem;
  height: 2rem;
  img {
    object-fit: contain;
    height: auto;
  }
}

.doctor-details__right__sns--x {
  width: 1.8rem;
  height: 1.8rem;
  img {
    object-fit: contain;
    height: auto;
  }
}

.doctor-details__right__sns--youtube {
  width: 2.8rem;
  height: 2rem;
  img {
    object-fit: contain;
    height: auto;
  }
}

.doctor-details__right__career,
.doctor-details__right__info {
  ul li {
    color: #333;
    font-family: "Shippori Mincho";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 200%;
  }
}

.doctor-details__right__career {
  margin-top: 1.6rem;
}

.doctor-details__right__info {
  margin-top: 1.6rem;
}

.doctor-details__right__career--title,
.doctor-details__right__info--title  {
  color: #9FA2B7;
  font-family: "Shippori Mincho";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 200%;
}

.doctor-details__right__btn {
  margin-top: 4.8rem;
  @include mq(sp) {
    margin-top: 1.6rem;
  }
}



.doctor-details-message {
  .title {
    font-size: 6.4rem;
  }
}

.doctor-details-message__inner {
  max-width: calc(108rem + 2rem * 2);
  padding-inline: 2rem;
  margin-inline: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq(sp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}



.doctor-details-message__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  margin-top: 9rem;
  @include mq(sp) {
    flex-direction: column-reverse;
    gap: 7.2rem;
  }
}

.doctor-details-message__text {
  max-width: 49.6rem;
  p {
    color: #666;
    font-family: "Shippori Mincho";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
  }
  p:nth-of-type(4) {
    @include mq(sp) {
      padding-right: 2rem;
    }
  }
  p + p {
    margin-top: 3.2rem;
  }
}

.doctor-details-message__img {
  position: relative;
  margin-top: -5rem;
  max-width: 48rem;
  @media screen and (min-width:768px) and (max-width:1140px) {
    margin-right: 2rem;
  }
  @include mq(sp) {
    max-width: calc(100% - 1.66rem);
    margin-right: auto;
    margin-top: 0rem;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -4.75rem;
    right: -2.4rem;
    width: 28rem;
    height: 21rem;
    border-radius: 10px;
    background: #009FE6;
    z-index: -1;
    @include mq(sp) {
      width: 19.44rem;
      height: 14.58rem;
      bottom: -3.3rem;
      right: -1.66rem;
    }
  }
  img {
    border-radius: 1rem;
    height: auto;
  }
}



.doctor-details-snss {
}

.doctor-details-sns__inner {
  max-width: calc(108rem + 2rem * 2);
  padding-inline: 2rem;
  margin-inline: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include mq(sp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.doctor-details-blog__container {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  margin-top: 4rem;
  @include mq(sp) {
    flex-direction: column;
  }
}

.doctor-details-blog__card {
  max-width: 32.8rem;
  transition: all .4s ease-in-out;
  @include mq(sp) {
    max-width: 100%;
  }
  @include mq(pc) {
    &:hover {
      opacity: .6;
    }
  }
}

.doctor-details-blog__card__img {
  img {
    object-fit: contain;
    height: auto;
  }
}

.doctor-details-blog__card__text {
  margin-top: 2.4rem;
}

.doctor-details-blog__card__text--category {
  display: inline-block;
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1rem;
  font-weight: 700;
  line-height: 180%;

  border: 1px solid #333;
  padding: 0.1rem 1.1rem;
}

.doctor-details-blog__card__text--headline {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 500;
  line-height: 180%; 
  margin-top: 1.1rem;
}

.doctor-details-blog__card__text-content {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 200%;
  margin-top: 0.4rem;
}

.doctor-details-youtube {
  margin-top: 4rem;
}

.doctor-details-youtube__titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include mq(sp) {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.doctor-details-snss__title {
  font-family: "Cormorant SC";
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 100%;
  background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  position: relative;
  height: 11.4rem;
  &::after {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 4rem;
    background: linear-gradient(90deg, #009FE6 0%, #74D4FF 41.35%, #11ADF3 98.08%);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0rem;

    @include mq('sp') {
      bottom: 0rem;
    }
  }
}

.doctor-details-youtube__title--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  transition: all .4s ease-in-out;
  p {
    color: #333;
    font-family: Aboreto;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
  }
  img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  @include mq(pc) {
    &:hover {
      opacity: .5;
    }
  }
}

.doctor-details-youtube__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 4rem;
  @include mq(sp) {
    flex-direction: column;
  }
}

.doctor-details-youtube__card {
  max-width: 34rem;
  transition: all .4s ease-in-out;
  @include mq(sp) {
    max-width: 100%;
  }
  @include mq(pc) {
    &:hover {
      opacity: .5;
    }
  }
  img {
    height: auto;
    object-fit: contain;
  }
}


.doctor-details-instagram {
  margin-top: 4rem;
}

.doctor-details-instagram__container {
  margin-top: 4rem;
}
.doctor-details-instagram-swiper {
  .swiper-slide {
    .doctor-details-instagram__card {
      transition: all .5s ease-in-out;
      img {
        height: auto;
      }
      @include mq(pc) {
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

.doctor-details-btn {
  margin-top: 4rem;
  margin-inline: auto;
}